﻿ <header>
        <div class="logo">
            <figure>
                <img src="app/assets/img/logo.png" alt="">
            </figure>
        </div>
        <div class="title">
            <h2> UAUC – Incident Correlation Analytics (<span ng-if="currentCollection.name == 'global'">GROUP</span> <span ng-if="currentCollection.name == 'apac'">APAC</span> <span ng-if="currentCollection.name == 'malaysia'">malaysia</span> <span ng-if="currentCollection.name == 'upstream' || currentCollection.name == 'ma'">BU</span><span ng-if="currentCollection.name == 'pm'">OPU</span> <span ng-if="currentCollection.name == 'dulang'">SITE</span> Level)</h2>
        </div>
        <div class="pull-right">
            <div class="calander">
                <i class="fa fa-calendar" aria-hidden="true"></i> <span class="time">2018-02-08 06:56 PM</span>
            </div>
            <div class="user">
                <figure><img src="app/assets/img/user.png" alt=""></figure> 
                <span class="name">Farah Dila bt m laziz</span>
                <span class="desc hidden">Planning and Optimization</span>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="pl-15 pr-15">
            <div class="row">
                <div class="col-sm-12">
                <div class="row">

                     <div class="col-md-8 text-left"> 
                            <ol class="breadcrumb">
                              <li ng-click="mapClick('global','global')"><a>GLOBAL</a></li>
                              <li ng-repeat="menu in menuLists" ng-click="mapClick(menu.currentName,menu.LocationName,'true')">{{menu.showName}}</li>
                            </ol>
                            <!-- <p class="main-title">Derived incident Risk</p> -->
                        </div>
                        
                    <!--    <div class="col-md-4 text-right">
                            <button class="btn btn-default" ng-click="menuClick(dataCollections)">All</button>
                        </div> -->
                </div>
                        <p class="text-uppercase">Geographic view of UAUC Numbers with Probable Incidents</p>
                <div class="correlation-levels bb" ng-show="currentCollection.name == 'dulang'">
                    <ul>
                        <li class="high">
                            <span class="count">{{currentCollection.groups[0].high}}</span>
                            <span class="content">High Probablity</span>
                        </li>
                        <li class="mid">
                            <span class="count">{{currentCollection.groups[0].medium}}</span>
                            <span class="content">Medium Probablity</span>
                        </li>
                        <li class="low">
                            <span class="count">{{currentCollection.groups[0].low}}</span>
                            <span class="content">Low Probablity</span>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                      
                     <!--    <div class="col-md-4 text-right">
                            <button class="btn btn-default" ng-click="menuClick(dataCollections)">All</button>
                        </div> -->
                    </div>
                    <div class="text-right">
                        <button class="btn btn-default" type="button"  ng-repeat="menuCollection in currentCollection.groups" ng-click="menuClick(menuCollection)" ng-disabled="!menuCollection.groups" ng-hide="currentCollection.name == 'dulang'">{{menuCollection.name}}</button>
                        <button type="button"  class="btn btn-default map-btn" ng-click="mapClick('global','global')">Back</button>
                        <button type="button" data-toggle="modal" data-target="#viewTrends" ng-click="getTrends()" class="btn btn-default fill pull-right" ng-show="currentCollection.name == 'dulang'">VIEW TRENDS</button>
                    </div>
                         <div class="text-center" ng-show="currentCollection.name == 'pm'">
                            <button type="button" data-toggle="modal" data-target="#viewTrends" ng-click="getTrends()" class="btn btn-default fill pull-right mt-10">VIEW TRENDS</button>
                        <div class="map opu_level">
                             <img src="app/assets/img/map-ma1.png" alt="">
                            <div class="coordinates">
                                <span class="pos pos_1 level_3">
                                    <span class="color_white">10</span>
                                    <span class="color_black">3</span>
                                    <span class="color_black">5</span>
                                    <span class="title">DULANG</span>
                                </span>
                                <span class="pos pos_2 level_3">
                                    <span class="color_white">3</span>
                                    <span class="color_black">5</span>
                                    <span class="color_black">8</span>
                                    <span class="title">TIONG</span>
                                </span>
                                <span class="pos pos_3 level_3">
                                    <span class="color_white">10</span>
                                    <span class="color_black">9</span>
                                    <span class="color_black">10</span>
                                    <span class="title">T-COT</span>
                                </span>
                                <span class="pos pos_4 level_3">
                                    <span class="color_white">10</span>
                                    <span class="color_black">9</span>
                                    <span class="color_black">10</span>
                                    <span class="title">OSC</span>
                                </span>
                                <span class="pos pos_5 level_3">
                                    <span class="color_white">5</span>
                                    <span class="color_black">6</span>
                                    <span class="color_black">7</span>
                                    <span class="title">ANGSI</span>
                                </span>
                                <span class="pos pos_6 level_3">
                                    <span class="color_white">4</span>
                                    <span class="color_black">5</span>
                                    <span class="color_black">6</span>
                                    <span class="title">BEKOK</span>
                                </span>
                            </div>
                        </div>
                    </div>
 <div class="text-center"  ng-show="(currentcollectionName == 'malaysia' || currentCollection.name == 'ma') && currentCollection.name != 'pm' && currentCollection.name != 'dulang'">
                   <div class="map opu_level opu_level_one">
                        <img src="app/assets/img/map-ma.png" alt=""> 
                        <div class="coordinates">
                            <span class="pos pos_1 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <span class="title">SKG</span>
                            </span>
                            <span class="pos pos_2 level_3">
                                <span class="color_white">3</span>
                                <span class="color_black">5</span>
                                <span class="color_black">8</span>
                                <span class="title">SKO</span>
                            </span>
                            <span class="pos pos_3 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">9</span>
                                <span class="color_black">10</span>
                                <span class="title">SB</span>
                            </span>
                            <span class="pos pos_4 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">9</span>
                                <span class="color_black">10</span>
                                <span class="title">PM</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="text-center" ng-show="currentcollectionName == 'apac' && currentCollection.name != 'pm' && currentCollection.name != 'dulang' && currentCollection.name != 'ma'">
                    <div class="map apac_level">
                        <img usemap="#mapma" src="app/assets/img/map-apac.png" alt=""> 
                        <div class="coordinates">
                            <span class="pos pos_1 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <span class="title">Philippines</span>
                            </span>
                            <span class="pos pos_2 level_3">
                                <span class="color_white">3</span>
                                <span class="color_black">5</span>
                                <span class="color_black">8</span>
                                <span class="title">Malaysia</span>
                            </span>
                            <span class="pos pos_3 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">9</span>
                                <span class="color_black">10</span>
                                <span class="title">Australia</span>
                            </span>
                        </div>
                    </div>
                </div>
                    <!-- dulang -->
                    <div class="map resize site_level" ng-show="currentCollection.name == 'dulang' || currentCollectionName == 'dulang'">

                        <img src="app/assets/img/site-level.png" alt="" usemap="#Map">
                        <map name="Map" id="Map">
                            <area alt="" title="" href="javascript:void(0);" onclick="alert('0')" shape="poly" coords="242,10,244,37,297,40,354,96,354,178,278,240,279,362,15,363,18,10">
                            <area alt="" title="" href="javascript:void(0);" onclick="alert('1')" shape="poly" coords="241,12,238,37,297,45,350,97,350,175,276,243,281,363,376,366,376,198,434,198,434,172,445,169,447,181,500,184,504,7">
                            <area alt="" title="" href="javascript:void(0);" onclick="alert('2')" shape="poly" coords="447,184,447,168,434,168,431,195,378,200,378,357,503,354,502,187">
                            <area alt="" title="" href="javascript:void(0);" onclick="alert('3')" shape="poly" coords="507,6,508,103,646,108,651,184,749,184,749,12">
                            <area alt="" title="" href="javascript:void(0);" onclick="alert('4')" shape="poly" coords="500,356,382,357,380,365,646,365,644,114,503,109">
                            <area alt="" title="" href="javascript:void(0);" onclick="alert('5')" shape="poly" coords="651,189,752,190,751,365,651,365">
                        </map>
                        <div class="coordinates">
                            <span class="zone zone_0"></span>
                            <span class="zone zone_1 level_1">
                                <span class="color_white" ng-bind="splitHigh * 10 / 100 | number:0"></span>
                            </span>
                            <span class="zone zone_2 level_2">
                                <span class="color_white"  ng-bind="splitHigh * 30 / 100 | number:0"></span>
                                <span class="color_black" ng-bind="splitLow * 30 / 100 | number:0">02</span>
                            </span>
                            <span class="zone zone_3 level_3">
                                <span class="color_white"  ng-bind="splitHigh * 10 / 100 | number:0"></span>
                                <span class="color_black" ng-bind="splitMed * 40 / 100 | number:0"></span>
                                <span class="color_black" ng-bind="splitLow * 10 / 100 | number:0"></span>
                            </span>
                            <span class="zone zone_4 level_3">
                                <span class="color_white"  ng-bind="splitHigh * 30 / 100 | number:0"></span>
                                <span class="color_black" ng-bind="splitMed * 40 / 100 | number:0"></span>
                                <span class="color_black" ng-bind="splitLow * 40 / 100 | number:0"></span>
                            </span>
                            <span class="zone zone_5 level_3">
                                <span class="color_white"  ng-bind="splitHigh * 20 / 100 | number:0"></span>
                                <span class="color_black" ng-bind="splitMed * 20 / 100 | number:0"></span>
                                <span class="color_black" ng-bind="splitLow * 20 / 100 | number:0"></span>
                            </span>
                        </div>
                    </div>
 <div class="text-center" ng-show="currentcollectionName == 'global' && currentCollection.name !='pm' && currentCollection.name !='dulang' && currentCollection.name !='ma'">
                    <div class="map group_level">
                        <img usemap="#map" src="app/assets/img/map.png" alt="">
                        <div class="coordinates">
                            <span class="pos pos_1 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <!-- <span class="title">Malaysia</span> -->
                            </span>
                            <span class="pos pos_2 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <!-- <span class="title">Africa</span> -->
                            </span>
                            <span class="pos pos_3 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <!-- <span class="title">Middle East</span> -->
                            </span>
                            <span class="pos pos_4 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <!-- <span class="title">Central Asia</span> -->
                            </span>
                            <span class="pos pos_5 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <!-- <span class="title">Europe</span> -->
                            </span>
                            <span class="pos pos_6 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <!-- <span class="title">North America</span> -->
                            </span>
                            <span class="pos pos_7 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <!-- <span class="title">South America</span> -->
                            </span>
                            <span class="pos pos_8 level_3">
                                <span class="color_white">10</span>
                                <span class="color_black">3</span>
                                <span class="color_black">5</span>
                                <!-- <span class="title">Asia Pacific</span> -->
                            </span>
                        </div>
                    </div>
                </div>
                    <div class="map">
                        <!-- <img src="app/assets/img/map.png" alt="" usemap="#map" ng-show="currentcollectionName == 'global' && currentCollection.name !='pm' && currentCollection.name !='dulang' && currentCollection.name !='ma'"> -->

                        <!-- <img src="app/assets/img/map-ma.png" alt=""  ng-show="(currentcollectionName == 'malaysia' || currentCollection.name == 'ma') && currentCollection.name != 'pm' && currentCollection.name != 'dulang'">
 -->
                      <!--   <img src="app/assets/img/map-apac.png" alt="" usemap="#mapma" ng-show="currentcollectionName == 'apac' && currentCollection.name != 'pm' && currentCollection.name != 'dulang' && currentCollection.name != 'ma'"> -->


                      <!--  <div ng-hide="currentcollectionName == 'malaysia' || currentCollection.name == 'pm' || currentcollectionName == 'apac' || currentCollection.name == 'ma' || currentCollection.name == 'dulang'">
                            <span class="high-bg pos1" ng-bind="splitHigh * 20 / 100 | number:0"></span>
                        <span class="medium-bg pos1" ng-bind="splitMed * 20 / 100 | number:0"></span>
                        <span class="low-bg pos1" ng-bind="splitLow * 20 / 100 | number:0"></span>

                        <span class="high-bg pos4" ng-bind="splitHigh * 50 / 100 | number:0"></span>
                        <span class="medium-bg pos4" ng-bind="splitMed * 50 / 100 | number:0"></span>
                        <span class="low-bg pos4" ng-bind="splitLow * 50 / 100 | number:0"></span>

                        <span class="high-bg pos5" ng-bind="splitHigh * 30 / 100 | number:0"></span>
                        <span class="medium-bg pos5" ng-bind="splitMed * 30 / 100 | number:0"></span>
                        <span class="low-bg pos5" ng-bind="splitLow * 30 / 100 | number:0"></span> -->

                       <!--  <span class="high-bg pos6">12</span>
                        <span class="medium-bg pos6">12</span>
                        <span class="low-bg pos6">12</span> -->

                       <!-- </div> -->
                    <!-- <div ng-show="currentcollectionName == 'apac' && currentCollection.name != 'pm' && currentCollection.name != 'ma' && currentCollection.name != 'dulang'">
                        <span class="high-bg pos7" ng-bind="splitHigh * 50 / 100 | number:0"></span>
                        <span class="medium-bg pos7" ng-bind="splitMed * 50 / 100 | number:0"></span>
                        <span class="low-bg pos7" ng-bind="splitLow * 50 / 100 | number:0"></span>
                    </div>

                       <div ng-show="currentCollection.name == 'apac'">
                            <span class="high-bg pos2" ng-bind="splitHigh * 50 / 100 | number:0"></span>
                        <span class="medium-bg pos2" ng-bind="splitMed * 50 / 100 | number:0"></span>
                        <span class="low-bg pos2" ng-bind="splitLow * 50 / 100 | number:0"></span>
                       </div>



                             <div ng-show="((currentcollectionName == 'malaysia') && currentcollectionName != 'global' || currentcollectionName == 'global' && currentCollection.name == 'ma' || currentCollection.name == 'ma') && currentCollection.name != 'pm' && currentCollection.name != 'dulang'">
                                 <span class="high-bg pos3" ng-bind="splitHigh | number:0"></span>
                                 <span class="medium-bg pos3" ng-bind="splitMed | number:0"></span>
                                 <span class="low-bg pos3" ng-bind="splitLow | number:0"></span>
                             </div> -->

                    <map name="map">
                         <area shape="poly" coords="601, 23, 505, 157, 481, 386, 757, 392, 757, 193, 675, 222, 625, 292, 577, 220, 695, 197, 719, 164, 699, 214, 748, 194, 758, 33"  
                         ng-click="mapClick('apac',currentCollection.name)" id="test" />
                          <area shape="poly" coords="590, 226, 623, 280, 671, 212" ng-click="mapClick('malaysia',currentCollection.name)"/>
                    </map>
                    <map name="mapma">
                          <area shape="rect" coords="118, 197, 228, 263" ng-click="mapClick('malaysia',currentCollection.name)" />
                    </map>
                    </div>
                    <div class="legend text-right">
                        <span class="high">High Probability</span>
                        <span class="medium"> Medium Probability</span>
                        <span class="low">Low Probability</span>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="right">
                        <div ng-hide="currentCollection.name == 'dulang' || currentCollection.name == 'pm'">
                            
                        <h4><span> Number of UAUC with Probable Incidents</span> <button type="button" data-toggle="modal" data-target="#viewTrends" ng-click="getTrends()" class="btn btn-default fill pull-right">VIEW TRENDS</button></h4>
                        <div class="table-responsive shadow">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th ng-repeat="menuCollection in currentCollection.groups"><button type="button"   ng-click="menuClick(menuCollection)" ng-disabled="!menuCollection.groups" class="table-btn">{{menuCollection.name}}</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<b>High Probability</b><p>UAUC observations that are very likely to result in incidents and have a correlation score of more than 21.14. </p>">High Probability <i class="fa fa-info-circle pull-right"></i></span></td>
                                        <td ng-repeat="menuCollection in currentCollection.groups"><a data-toggle="modal" data-target="#example{{$index}}" ng-click=gettableName(currentCollection.groups[0].name)>{{menuCollection.high}}</a></td>
                                    </tr>
                                    <tr>
                                        <td><span data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<b>Medium Probability</b><p>UAUC observations that are somewhat likely to result in incidents and have a correlation score of more than 10.59 and less than 21.14. </p>" >Medium Probability <i class="fa fa-info-circle pull-right"></i></span></td>
                                        <td ng-repeat="menuCollection in currentCollection.groups"><a data-toggle="modal" data-target="#example{{$index}}" ng-click=gettableNamecurrentCollection.groups[0].name)>{{menuCollection.medium}}</a></td>
                                    </tr>
                                    <tr>
                                        <td><span data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<b>Low Probability</b><p>UAUC observations that are remotely likely to result in incidents and have a correlation score of less than 10.59. </p>">Low Probability <i class="fa fa-info-circle pull-right"></i></span></td>
                                        <td ng-repeat="menuCollection in currentCollection.groups"><a data-toggle="modal" data-target="#example{{$index}}" ng-click=gettableName(currentCollection.groups[0].name)>{{menuCollection.low}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>

                        <div style="position: relative;width: 100%;float: left;margin-top: 20px;">
                           <!--   <div class="btn-group pull-right" ng-show="currentCollection.name != 'dulang'">
                            <button type="button" class="btn btn-default" ng-click="showalert()">Group Level</button>
                            <button type="button" class="btn btn-default" ng-click="showwellhead()">BU Level</button>
                            <button type="button" class="btn btn-default" ng-click="showsite()">Site Level</button>
                        </div> -->
                          <!-- <div class="switch pull-right">
                            <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
                            <label for="week" class="switch-label switch-label-off">Group Level</label>
                            <input type="radio" class="switch-input" name="view" value="month" id="month">
                            <label for="month" class="switch-label switch-label-on">BU Level</label>
                            <span class="switch-selection"></span>
                          </div> -->
                          <div  ng-show="currentCollection.name == 'dulang' || currentCollection.name == 'pm'">
                            <h4 class="mt-10"><span>UAUC vs Incident Occurrence</span> </h4>
                        <div class="graph shadow text-center">
                              <img src="app/assets/img/2-2-map.png" alt="">
                        </div>
                        </div>
                        <div ng-show="showlalerttab == true || showsitetab == true || currentCollection.name =='dulang'" >
                            <h4 class="mb-10"><!-- Alerts --></h4>
                            <div class="btn-group pull-right mb-10" ng-show="currentCollection.name != 'dulang'">
                              <button type="button" class="btn btn-default" ng-click="showalert()">Group/Bu Level</button>
                              <!-- <button type="button" class="btn btn-default" ng-click="showwellhead()">BU Level</button> -->
                              <button type="button" class="btn btn-default"  ng-click="showsite()">OPU Level</button>
                            </div>
                        <div class="alert shadow pichartSec">

                            <h4 class="mb-10"  ng-hide="currentCollection.name == 'pm' || showsitetab == true || currentCollection.name == 'dulang'" > Current Risk Breakdown (YTD)</h4>
                            <div id="grouppiechart" ng-hide="currentCollection.name == 'pm' || showsitetab == true || currentCollection.name == 'dulang'" style="min-width: 310px; max-width: 600px; height: 200px; margin: 0 auto"></div>


                            <h4 class="mb-10" ng-show="(currentCollection.name == 'pm' || showsitetab == true ) && currentCollection.name != 'dulang'">PAST INCIDENTS (YTD)</h4>
                            <div id="opupiechart" ng-show="(currentCollection.name == 'pm' || showsitetab == true ) && currentCollection.name != 'dulang'" style="min-width: 310px; max-width: 600px; height: 200px; margin: 0 auto"></div>


                            <h4 class="mb-10" ng-show="currentCollection.name == 'dulang'">PAST INCIDENTS (YTD)</h4>
                            <div id="grouppiechartsitelevel" ng-show="currentCollection.name == 'dulang' " style="min-width: 310px; max-width: 600px; height: 200px; margin: 0 auto"></div>
                            <!-- <ul>
                                <li><span ng-class="currentCollection.alert.lifting > '100' ? 'red' : 'green'">{{currentCollection.alert.lifting}}%</span>Increase in lifting related UAUC reporting for the past 3 days</li>
                                <li><span  ng-class="currentCollection.alert.welding > '100' ? 'red' : 'green'">{{currentCollection.alert.welding}}%</span>Increase in welding related UAUC reporting in the past 26 hours</li>
                                <li><span  ng-class="currentCollection.alert.wellhead > '100' ? 'red' : 'green'">{{currentCollection.alert.wellhead}}%</span>Increase in UAUC reporting at wellhead area in the past 1 week</li>
                            </ul> -->
                        </div>
                        </div>

                          <div ng-show="showwellheadtab == true && currentCollection.name != 'dulang'">
                            <h4 class="mb-10">Alerts</h4>
                        <div class="alert shadow">
                            <ul>
                                <li><span ng-class="currentCollection.alert.lifting > '100' ? 'red' : 'red'">{{currentCollection.alert.lifting}}%</span>Increase in lifting related UAUC reporting for the past 3 days</li>
                                <li><span  ng-class="currentCollection.alert.welding > '100' ? 'red' : 'red'">{{currentCollection.alert.welding}}%</span>Increase in welding related UAUC reporting in the past 26 hours</li>
                                <li><span  ng-class="currentCollection.alert.wellhead > '100' ? 'red' : 'red'">{{currentCollection.alert.wellhead}}%</span>Increase in UAUC reporting at wellhead area in the past 1 week</li>
                            </ul>
                        </div>
                        </div>



                        
                        <!--  <div  ng-show="showsitetab == true">
                            <h4 class="mt-10">UAUC vs Incident Occurrence</h4>
                        <div class="graph shadow text-center">
                            <img src="app/assets/img/insident-grapg.png" alt="">
                        </div>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btm-section">
            <div class="total-count mt-30">
                <ul>
                    <li>
                        <p class="top"><span class="name">Total Cases Reported (YTD) :</span><span class="value">{{currentCollection.casereported.ua + currentCollection.casereported.uc | number}}</span><i class="fa fa-angle-down" aria-hidden="true" data-toggle="modal" data-target="#myModal1" ng-click="caseClick('Reported')"></i></p>
                        <div class="middle">
                            <span class="title">UA</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>
                            <span class="title text-right">UC</span>
                        </div>
                        <p class="btm"><span class="pull-left">{{currentCollection.casereported.ua | number}}</span><span class="pull-right">{{currentCollection.casereported.uc | number}}</span></p>
                    </li>
                    <li>
                        <p class="top"><span class="name">Cases Closed (YTD) :</span><span class="value">{{currentCollection.caseclosed.ua + currentCollection.caseclosed.uc | number}}</span><i class="fa fa-angle-down" aria-hidden="true" data-toggle="modal" data-target="#myModal1" ng-click="caseClick('Closed')"></i></p>
                        <div class="middle">
                            <span class="title">UA</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>
                            <span class="title text-right">UC</span>
                        </div>
                        <p class="btm"><span class="pull-left">{{currentCollection.caseclosed.ua | number}}</span><span class="pull-right">{{currentCollection.caseclosed.uc | number}}</span></p>
                    </li>
                    <li>
                        <p class="top"><span class="name">Cases Open (YTD) :</span><span class="value">{{currentCollection.caseopened.ua + currentCollection.caseopened.uc | number}}</span><i class="fa fa-angle-down" aria-hidden="true" data-toggle="modal" data-target="#myModal" ng-click="caseClick('Open')"></i></p>
                        <div class="middle">
                            <span class="title">UA</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>
                            <span class="title text-right">UC</span>
                        </div>
                        <p class="btm"><span class="pull-left">{{currentCollection.caseopened.ua | number}}</span><span class="pull-right">{{currentCollection.caseopened.uc | number}}</span></p>
                    </li>
                </ul>
            </div>
            <div class="rolling-text">

                <marquee onmouseover="this.stop();" onmouseout="this.start();"><strong>Lifting</strong>  <span class="text-capitalize"><span class="red">{{currentCollection.alert.lifting}}%</span> Increase in welding related UAUC reporting for the past 3 months, {{currentCollection.groups[0].name}}</span> <strong>Welding </strong> <span  class="text-capitalize"><span class="red">{{currentCollection.alert.welding}}%</span> Increase in lifting related UAUC reporting in the past 3 weeks, {{currentCollection.groups[0].name}}</span> <strong>Wellhead </strong><span class="text-capitalize"><span class="red">{{currentCollection.alert.wellhead}}%</span> Increase in UAUC reporting at wellhead area in the past 2 weeks, {{currentCollection.groups[0].name}}</span> </marquee>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content case-report-chart">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cases <span ng-bind="myText"></span></h4>
                    <!-- <button class="btn btn-default">High</button> -->
                    <!-- <button class="btn btn-default">Med</button> -->
                    <!-- <button class="btn btn-default">Low</button> -->
                    <button class="btn btn-default" ng-click="monthlyChart()" ng-class="chartOpentab == true ? 'fill' : ''">Monthly</button>
                    <button class="btn btn-default" ng-click="quarterlyChart()" ng-class="chartOpentab1 == true ? 'fill' : ''">Quarterly</button>
                    <button class="btn btn-default" ng-click="yearlyChart()" ng-class="chartOpentab2 == true ? 'fill' : ''">Yearly</button>
                </div>
                <div class="modal-body">
                 <!--    <img src="app/assets/img/chart.jpg"> -->
                <div ng-show="chartOpentab == true || chartOpentab1 == true || chartOpentab2 == true">
                     <div id="caseChart">
                    
                 </div>
                </div>
                </div>
            </div>
        </div>
    </div>
   <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content case-report-chart">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cases <span ng-bind="myText"></span></h4>
                    <!-- <button class="btn btn-default">High</button> -->
                    <!-- <button class="btn btn-default">Med</button> -->
                    <!-- <button class="btn btn-default">Low</button> -->
                    <button class="btn btn-default" ng-click="monthlyChart()" ng-class="chartOpentab == true ? 'fill' : ''">Monthly</button>
                    <button class="btn btn-default" ng-click="quarterlyChart()" ng-class="chartOpentab1 == true ? 'fill' : ''">Quarterly</button>
                    <button class="btn btn-default" ng-click="yearlyChart()" ng-class="chartOpentab2 == true ? 'fill' : ''">Yearly</button>
                </div>
                <div class="modal-body">
                 <!--    <img src="app/assets/img/chart.jpg"> -->
                <div ng-show="chartOpentab == true || chartOpentab1 == true || chartOpentab2 == true">
                     <div id="trendChart">
                    
                 </div>
                </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="viewTrends" role="dialog">
        <div class="modal-dialog custom-modal custom-modalw-400">
            <!-- Modal content-->
            <div class="modal-content case-report-chart">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Trending for Correlation Table</h4>
                    <!-- <button class="btn btn-default">High</button> -->
                    <!-- <button class="btn btn-default">Med</button> -->
                    <!-- <button class="btn btn-default">Low</button> -->
                  
                </div>
                <div class="modal-body">
                    <div class="text-left mt-10 bb mb-10 toggle">
                                <button class="btn btn-default high active">High Probablity</button>
                                <button class="btn btn-default mid" ng-click="medCorr()">Medium Probablity</button>
                                <button class="btn btn-default low">Low Probablity</button>
                            </div>
                              <div class="text-right">
                                  <button class="btn btn-default" ng-click="monthlyChart()" ng-class="chartOpentab == true ? 'fill' : ''">Monthly</button>
                    <button class="btn btn-default" ng-click="quarterlyChart()" ng-class="chartOpentab1 == true ? 'fill' : ''">Quarterly</button>
                    <button class="btn btn-default" ng-click="yearlyChart()" ng-class="chartOpentab2 == true ? 'fill' : ''">Yearly</button>
                              </div>
                 <!--    <img src="app/assets/img/chart.jpg"> -->
                <div ng-show="chartOpentab == true || chartOpentab1 == true || chartOpentab2 == true">
                     <!-- <div id="trendChart">
                    
                 </div> -->
                 <figure>
                     <img src="app/assets/img/trend-map.png" alt="">
                     
                 </figure>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade zoomIn speed" id="Chart" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content case-report-chart">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">UAUC vs Incident Occurrence</h4>
                </div>
                <div class="modal-body">
 <img src="app/assets/img/2-2-map.png" alt="">
                   
                </div>
            </div>
        </div>
    </div>
      <div class="modal modal1 fade" id="test" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content case-report-chart">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">UAUC vs Incident Occurrence</h4>
                </div>
                <div class="modal-body">
 <img src="app/assets/img/2-2-map.png" alt="">
                   
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="example0" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog custom-modal">
            <!-- Modal content-->
            <div class="modal-content case-report-chart">
                <button type="button" class="close remove-ac" data-dismiss="modal" ng-click="closeCorr()">&times;</button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ol class="breadcrumb">
                              <li>Group Level</li>
                              <li ng-repeat="menu in menuLists">{{menu.showName}}</li> / {{getNewTableName}}
                            </ol>
                            <h4 class="mt-0">Correlation Map</h4>


                            <div class="text-left mt-10">
                                <button class="btn btn-default" ng-click="activityView()" ng-class="showactivityViewtab == true ? 'fill' : ''">Activity View</button>
                                <button class="btn btn-default" ng-click="locationView()" ng-class="showlocationViewtab == true ? 'fill' : ''">Location View</button>
                                <button class="btn btn-default" ng-click="entityView()" ng-class="showentityViewtab == true ? 'fill' : ''">Entity View</button>
                                <button class="btn btn-default" ng-click="peopleView()" ng-class="showpeopleViewtab == true ? 'fill' : ''">People View</button>
                            </div>


                          <div class="flow-diagram" ng-show="showactivityViewtab == true">
                               <span class="top">
                                   <span class="top-cont text-left">
                                       <!-- <span class="top-ll">Dulang</span> -->
                                       <span class="top-lr flow-obj" ng-click="blastClick()">Blasting <strong class="white-txt">20</strong></span>
                                   </span>
                                   <span class="top-cont text-right">
                                       <span class="top-rl flow-obj" ng-click="blastClick()">Painting <strong class="white-txt">15</strong></span>
                                       <!-- <span class="top-rr">Dulang</span> -->
                                   </span>
                               </span>
                               <span class="center flow-obj">Personal Injury</span>
                               <span class="btm">
                                   <span class="btm-cont text-left">
                                       <!-- <span class="btm-ll">Dulang</span> -->
                                       <span class="btm-lr flow-obj" ng-click="blastClick()">Welding <strong class="white-txt">10</strong></span>
                                   </span>
                                   <span class="btm-cont text-right">
                                       <span class="btm-rl flow-obj" ng-click="blastClick()">Lifting <strong class="white-txt">20</strong></span>
                                       <!-- <span class="btm-rr">Dulang</span> -->
                                   </span>
                               </span>
                           </div>

                             <div class="flow-diagram" ng-show="showlocationViewtab == true">
                                <span class="top">
                                    <span class="top-cont text-left">
                                        <!-- <span class="top-ll">Dulang</span> -->
                                        <span class="top-lr flow-obj" ng-click="blastClick()">Wellhead area</span>
                                    </span>
                                    
                                </span>
                                <span class="center flow-obj">Personal Injury</span>
                                <span class="btm">
                                    <span class="btm-cont text-left">
                                        <!-- <span class="btm-ll">Dulang</span> -->
                                        <span class="btm-lr flow-obj" ng-click="blastClick()">Maindeck</span>
                                    </span>
                                    <span class="btm-cont text-right">
                                        <span class="btm-rl flow-obj" ng-click="blastClick()">Maindeck</span>
                                        <!-- <span class="btm-rr">Dulang</span> -->
                                    </span>
                                </span>
                            </div>


                             <div class="flow-diagram" ng-show="showentityViewtab == true">
                                <span class="top">
                                    <span class="top-cont text-left">
                                        <!-- <span class="top-ll">Dulang</span> -->
                                        <span class="top-lr flow-obj">Maindeck</span>
                                    </span>
                                    <span class="top-cont text-right">
                                        <span class="top-rl flow-obj" ng-click="blastClick()">Pump</span>
                                        <!-- <span class="top-rr">Dulang</span> -->
                                    </span>
                                </span>
                                <span class="center flow-obj">Personal Injury</span>
                                <span class="btm">
                                    <span class="btm-cont text-left">
                                        <!-- <span class="btm-ll">Dulang</span> -->
                                        <span class="btm-lr flow-obj" ng-click="blastClick()">Pump</span>
                                    </span>
                                    <span class="btm-cont text-right">
                                        <span class="btm-rl flow-obj" ng-click="blastClick()">Valve</span>
                                        <!-- <span class="btm-rr">Dulang</span> -->
                                    </span>
                                </span>
                            </div>

                             <div class="flow-diagram" ng-show="showpeopleViewtab == true">
                                <span class="top">
                                    <span class="top-cont text-left">
                                        <!-- <span class="top-ll">Dulang</span> -->
                                        <span class="top-lr flow-obj" ng-click="blastClick()">Valve</span>
                                    </span>
                                    <span class="top-cont text-right">
                                        <span class="top-rl flow-obj" ng-click="blastClick()">Contractor</span>
                                        <!-- <span class="top-rr">Dulang</span> -->
                                    </span>
                                </span>
                                <span class="center flow-obj">Personal Injury</span>
                                <span class="btm">
                                    <span class="btm-cont text-left">
                                        <!-- <span class="btm-ll">Dulang</span> -->
                                        <span class="btm-lr flow-obj" ng-click="blastClick()">Contractor</span>
                                    </span>
                                    <span class="btm-cont text-right">
                                        <span class="btm-rl flow-obj" ng-click="blastClick()">Staff</span>
                                        <!-- <span class="btm-rr">Dulang</span> -->
                                    </span>
                                </span>
                            </div>
 <div class="flow-diagram zoomIn" ng-show="corrTab == true">
                            <span class="top">
                                    <span class="top-cont text-left">
                                        <!-- <span class="top-ll">Dulang</span> -->
                            <span class="top-lr" ng-click="blastClick()">Dulong</span>
                            </span>
                            <span class="top-cont text-right">
                                        <span class="top-rl" ng-click="blastClick()">Bekok</span>
                            <!-- <span class="top-rr">Dulang</span> -->
                            </span>
                            </span>
                            <span class="center active midle">Blasting</span>
                            <span class="btm">
                                    <span class="btm-cont text-left">
                                        <!-- <span class="btm-ll">Dulang</span> -->
                            <span class="btm-lr" ng-click="blastClick()">TCOT</span>
                            </span>
                            <span class="btm-cont text-right">
                                        <span class="btm-rl" ng-click="blastClick()">OSC</span>
                            <!-- <span class="btm-rr">Dulang</span> -->
                            </span>
                            </span>
                        </div>

                            <!-- <h4 class="mt-20 mb-15">Number of potential incidents</h4>
                            <div class="table-responsive shadow incident">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th>Incidents</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span 
                                                    data-toggle="popover" 
                                                    data-placement="top" 
                                                    data-html="true" 
                                                    data-content="<table class='table'><thead><tr><th>Locations</th><th>Date</th><th>Incidents</th></tr></thead><tbody><tr><td>Bulang B</td><td>01/10/2017</td><td>Open</td></tr><tr><td>Bulang B</td><td>03/05/2017</td><td>Open</td></tr></tbody>">
                                                    Dulang C
                                                </span>
                                                </td>
                                            <td>01</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span 
                                                    data-toggle="popover" 
                                                    data-placement="top" 
                                                    data-html="true" 
                                                    data-content="<table class='table'><thead><tr><th>Locations</th><th>Date</th><th>Incidents</th></tr></thead><tbody><tr><td>Bulang B</td><td>01/10/2017</td><td>Open</td></tr><tr><td>Bulang B</td><td>03/05/2017</td><td>Open</td></tr></tbody>">
                                                    Bekok
                                                </span>
                                                </td>
                                            <td>01</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span 
                                                    data-toggle="popover" 
                                                    data-placement="top" 
                                                    data-html="true" 
                                                    data-content="<table class='table'><thead><tr><th>Locations</th><th>Date</th><th>Incidents</th></tr></thead><tbody><tr><td>Bulang B</td><td>01/10/2017</td><td>Open</td></tr><tr><td>Bulang B</td><td>03/05/2017</td><td>Open</td></tr></tbody>">
                                                    Dulang B
                                                </span>
                                                </td>
                                            <td>02</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <!-- <h4 class="mt-0">Upstream</h4> -->
                            <div class="text-left mt-10 bb toggle">
                                <button class="btn btn-default high active">High Probablity</button>
                                <button class="btn btn-default mid" ng-click="medCorr()">Medium Probablity</button>
                                <button class="btn btn-default low">Low Probablity</button>
                            </div>
                            <div class="report-accod shadow zoomIn" ng-show="corrTab == true">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Site</th>
                                            <th>Potential Risk</th>
                                            <!-- <th>Elements</th> -->
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="details">
                                            <td>14/10/2016</td>
                                            <td>Dulang</td>
                                            <td>Injury/illness</td>
                                            <!-- <td>FSO Desk</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>24/11/2017</td>
                                            <td>Dulang</td>
                                            <td>Injury/illness</td>
                                            <!-- <td>Stairs</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>07/08/2017</td>
                                            <td>Dulang</td>
                                            <td>Fire/Explosion</td>
                                            <!-- <td>Laundry room</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>30/09/2017</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Main Desk</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>10/02/2016</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Wellhead area</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>20/03/2016</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Wellhead area</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>22/03/2016</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Wellhead area</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>06/01/2017</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Wellhead area</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>17/01/2017</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Wellhead area</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>14/07/2017</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Wellhead area</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>10/10/2017</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Wellhead area</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                        <tr class="details">
                                            <td>26/02/2016</td>
                                            <td>Dulang</td>
                                            <td>Loss of Primary Containment</td>
                                            <!-- <td>Wellhead area</td> -->
                                            <td><i class="fa fa-plus click" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="description">
                                            <td colspan="5">
                                                <p>While DPIC intended to flow A14S to verify and confirm leak on the flow line and pressurizing the control line at WHCP, he heard a loud banging sound coming from the wellhead area. Upon further checking, he found A14L flow line parted. No injury reported. The well was secured by auto activation of the flow line low-low pressure that trip the ScSSV and SSV.</p>
                                                <p>Operation continues as normal and the well remained shut in and all the Christmas tree valves were closed and the ScSSV closed in.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
 <div class="trending shadow zoomIn" ng-show="corrTab == true">
                            <h4>Trending</h4>
                                <div class="text-right">
                                    <button class="btn btn-default" ng-click="monthlyChart()" ng-class="chartOpentab == true ? 'fill' : ''">Monthly</button>
                                    <button class="btn btn-default" ng-click="quarterlyChart()" ng-class="chartOpentab1 == true ? 'fill' : ''">Quarterly</button>
                                    <button class="btn btn-default" ng-click="yearlyChart()" ng-class="chartOpentab2 == true ? 'fill' : ''">Yearly</button>
                                </div>
                            <div class="chart mt-10">
                               <figure>
                     <img src="app/assets/img/trends.png" alt="">
                     
                 </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>