/***1***/
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(3.6deg);
        transform: rotate(3.6deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(7.2deg);
        transform: rotate(7.2deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(10.8deg);
        transform: rotate(10.8deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(14.4deg);
        transform: rotate(14.4deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
    }
}
@keyframes loading-6{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(21.6deg);
        transform: rotate(21.6deg);
    }
}
@keyframes loading-7{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(25.2deg);
        transform: rotate(25.2deg);
    }
}
@keyframes loading-8{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(28.8deg);
        transform: rotate(28.8deg);
    }
}
@keyframes loading-9{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(32.4deg);
        transform: rotate(32.4deg);
    }
}
@keyframes loading-10{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}


/***2***/
@keyframes loading-11{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(39.6deg);
        transform: rotate(39.6deg);
    }
}
@keyframes loading-12{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(43.2deg);
        transform: rotate(43.2deg);
    }
}
@keyframes loading-13{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(46.8deg);
        transform: rotate(46.8deg);
    }
}
@keyframes loading-14{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(50.4deg);
        transform: rotate(50.4deg);
    }
}
@keyframes loading-15{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(54deg);
        transform: rotate(54deg);
    }
}
@keyframes loading-16{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(57.6deg);
        transform: rotate(57.6deg);
    }
}
@keyframes loading-17{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(61.2deg);
        transform: rotate(61.2deg);
    }
}
@keyframes loading-18{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(64.8deg);
        transform: rotate(64.8deg);
    }
}
@keyframes loading-19{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(68.4deg);
        transform: rotate(68.4deg);
    }
}
@keyframes loading-20{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}


/***3***/
@keyframes loading-21{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(75.6deg);
        transform: rotate(75.6deg);
    }
}
@keyframes loading-22{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(79.2deg);
        transform: rotate(79.2deg);
    }
}
@keyframes loading-23{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(82.8deg);
        transform: rotate(82.8deg);
    }
}
@keyframes loading-24{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(86.4deg);
        transform: rotate(86.4deg);
    }
}
@keyframes loading-25{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-26{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(93.6deg);
        transform: rotate(93.6deg);
    }
}
@keyframes loading-27{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(97.2deg);
        transform: rotate(97.2deg);
    }
}
@keyframes loading-28{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(100.8deg);
        transform: rotate(100.8deg);
    }
}
@keyframes loading-29{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(104.4deg);
        transform: rotate(104.4deg);
    }
}
@keyframes loading-30{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
}


/***4***/
@keyframes loading-31{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(111.6deg);
        transform: rotate(111.6deg);
    }
}
@keyframes loading-32{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(115.2deg);
        transform: rotate(115.2deg);
    }
}
@keyframes loading-33{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(118.8deg);
        transform: rotate(118.8deg);
    }
}
@keyframes loading-34{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(122.4deg);
        transform: rotate(122.4deg);
    }
}
@keyframes loading-35{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@keyframes loading-36{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(129.6deg);
        transform: rotate(129.6deg);
    }
}
@keyframes loading-37{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(133.2deg);
        transform: rotate(133.2deg);
    }
}
@keyframes loading-38{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(136.8deg);
        transform: rotate(136.8deg);
    }
}
@keyframes loading-39{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(140.4deg);
        transform: rotate(140.4deg);
    }
}
@keyframes loading-40{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}


/***5***/
@keyframes loading-41{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(147.6deg);
        transform: rotate(147.6deg);
    }
}
@keyframes loading-42{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(151.2deg);
        transform: rotate(151.2deg);
    }
}
@keyframes loading-43{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(154.8deg);
        transform: rotate(154.8deg);
    }
}
@keyframes loading-44{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(158.4deg);
        transform: rotate(158.4deg);
    }
}
@keyframes loading-45{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(162deg);
        transform: rotate(162deg);
    }
}
@keyframes loading-46{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(165.6deg);
        transform: rotate(165.6deg);
    }
}
@keyframes loading-47{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(169.2deg);
        transform: rotate(169.2deg);
    }
}
@keyframes loading-48{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(169.2deg);
        transform: rotate(169.2deg);
    }
}
@keyframes loading-49{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(169.2deg);
        transform: rotate(169.2deg);
    }
}
@keyframes loading-50{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
