@font-face {
    font-family: 'Museo_Sans';
    src: url('../fonts/MuseoSans-900.woff2') format('woff2'),
        url('../fonts/MuseoSans-900.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo_Sans';
    src: url('../fonts/MuseoSans-300.woff2') format('woff2'),
        url('../fonts/MuseoSans-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo_Sans';
    src: url('../fonts/MuseoSans-700.woff2') format('woff2'),
        url('../fonts/MuseoSans-700.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Museo_Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
}

header {
    float: left;
    width: 100%;
    background: #eee;
}

header .logo {
    float: left;
    width: auto;
    padding: 0px;
    margin: 0px;
    position: relative;
}

header .logo:before {
    position: absolute;
    content: '';
    right: 0px;
    height: 28px;
    width: 1px;
    background: #000;
    top: 10px;
}

header .logo figure {
    padding: 10px 0px;
}

header .title {
    float: left;
    width: auto;
    padding: 0px;
    margin: 0px;
}

header .title h2 {
    float: left;
    margin: 0px;
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

header .calander {
    float: left;
    padding: 11px 0px;
    margin: 0px 30px 0px 0px;
    font-size: 15px;
    font-weight: 600;
}

header .calander .fa {
    font-size: 20px;
    margin: 0px 10px 0px 0px;
}

header .user {
    float: right;
    width: 230px;
    margin: 0px 20px 0px 0px;
}

header .user figure {
    float: right;
}
header .user figure img {
    margin: 2px 0px;
}
header .user span {
    float: left;
    width: calc(100% - 42px);
    /*padding: 4px 10px 0px;*/
    padding: 15px 10px 0px;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: right;
}

header .user span.desc {
    font-weight: 300;
}
header .dropdown {
    float: right;
    margin: 3px 15px;
    cursor: pointer;
}
header .dropdown-menu {
    left: auto;
    right: 10px;
    border: 0px;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    min-width: 200px;
}

header .dropdown-menu li {
    padding: 7px 15px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
}
header .dropdown-menu li:first-child:before {
    position: absolute;
    content: '';
    border: 10px solid #ddd;
    border-color: transparent transparent #fff transparent;
    top: -17px;
    right: 0px;
}
header .dropdown-menu li:hover {
    background: #f7f7f7;
}
.main {
    float: left;
    width: 100%;
    padding: 3px 0px 160px 0px;
    position: relative;
    min-height: calc(100vh - 48px);
}

.btn-default {
    border: 1px solid #00aca7;
    background: #eee;
    font-weight: 300;
    color: #2d2d2d;
    padding: 2px 15px 2px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0px 3px;
    text-transform: uppercase;
}
.btn-default:focus {
    outline:none;
}

.btn-default.fill, .btn-default.active, .btn-group .btn-default:focus, .btn-group .btn-default.active:focus {
    color: #fff;
    background: #00aca7;
    font-weight: 700;
}
.btn-default.black {
    background: #434348;
    border-color: #434348;
    color: #fff;
}
.btn-group {
    border: 1px solid #00aca7;
    border-radius: 3px;
}
.btn-group .btn-default {
    border: 0px;
    margin: 0px;
    box-shadow: none;
}
.btn-group .btn-default:nth-child(2) {
    border-left: 1px solid #00aca7;
    border-right: 1px solid #00aca7;
}
.btn-group .btn-default + .btn-default {
    margin-left: 0px;
}
.no-pad {
    padding: 0px !important;
}
.main h4 {
    float: left;
    width: 100%;
    /*margin-bottom: 5px;*/
    margin-bottom: 13px;
    margin-top: 5px;
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 600;
    text-align:left !important;

}
.main h4 span {
    float: left;
    margin: 9px 0px 0px 0px;
    font-size:14px; 
}
.main .main-title {
    text-transform: uppercase;
}

.main .map {
    display: inline-block;
    vertical-align: top;
    /*width: 100%;*/
    position: relative;
    text-align: center;
    margin: 20px auto;
}
.main .map.resize img {
    width: 100%;
}
.main .legend {
    float: left;
    width: 100%;
}
.main .legend span {
    margin: 0px 10px;
    padding: 0px 0px 0px 30px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
}

.main .legend span.high {
    background: url(../img/legend_high.png) no-repeat left center;
    margin: 0px 10px;
}

.main .legend span.medium {
    background: url(../img/legend_mid.png) no-repeat left center;
    margin: 0px 10px;
}

.main .legend span.low {
    background: url(../img/legend_low.png) no-repeat left center;
    margin: 0px 10px;
}

.main .info-right h4 {
    float: left;
    width: 100%;
    margin: 5px 0px 10px 0px;
    text-transform: uppercase;
}

.main .table-responsive {
    float: left;
    width: 100%;
    /*margin: 10px 0px 0px 0px;*/
    margin: 0;
    background: #eee;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.main .shadow {
    float: left;
    width: 100%;
    border-radius: 4px;
    /*-webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);*/
    background: #eee;
    padding: 0 15px;/*
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
}

.main .table {
    border: 10px solid #fff;
    border-collapse: unset;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
}
.table thead tr th {
    font-weight: 600;
}
.main .table th,
.main .table td {
    border-top: 10px solid #fff;
}

.main .table th {
    background: #eaecef;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    background: #eaecef;
    cursor: pointer;
    font-size: 12px;
    width: 100px;
    padding: 8px 2px;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 0px;
    border-bottom: 0px;
}
.main .table tr td {
    text-align: center;
    padding:2px 5px;
    vertical-align: middle;
    font-size: 12px;
}

.main .table tr td span {
    cursor: pointer;
    /*border: 1px solid #93676a;*/
    color: #fff;
    /*border-radius: 5px;*/
    padding: 2px 5px 2px 5px;
    display: inline-block;
      min-width: 155px;
}

.main .table tr td a {
    /*border: 1px solid #93676a;*/
    /*color: #2f2d2d;*/
    color: #fff;
    padding: 5px 0px 2px 0px;
    width: 40px;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    text-decoration: none;
    cursor: pointer;
}
.main .table tr td i{
    line-height: 15px;
}
.main .table tr th:first-child {
    border-radius: 5px 0px 0px 5px;
    min-width: 159px;
    border: 0px;
}

.main .table tr th:last-child {
    border-radius: 0px 5px 5px 0px;
}

.main .table tr td:first-child {
    border-radius: 0px;
    text-align: left;
    width: 160px;
    max-width: 160px;
    text-transform: uppercase;
}

.main .table tr td:last-child {
    border-radius: 0px;
}

.main .table tr:nth-child(1) td span,
.main .table tr:nth-child(1) td a{
    background: #c964a0;
    border-radius: 5px;
}

.main .table tr:nth-child(2) td span,
.main .table tr:nth-child(2) td a{
    background: #5ec9c8;
    border-radius: 5px;
    color: #000;
}

.main .table tr:nth-child(3) td span,
.main .table tr:nth-child(3) td a{
    background: #dcc9ae;
    border-radius: 5px;
    color: #fff;
}
.main .table tr:nth-child(3) td span, .main .table tr:nth-child(3) td a {
    color: #000;
}
.main .min-ht {
    min-height: 160px;
}
.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-18 {
    margin-bottom: 18px;
}
.mb-20 {
    margin-top: 20px;
}

.mb-30 {
    margin-top: 30px;
}

.mb-40 {
    margin-top: 40px;
}
.mt-0 {
    margin-top: 0px;
}
.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.main .alert {
    float: left;
    width: 100%;
    padding: 8px 20px;
    margin: 20px 0px 0px 0px;
    background: #fff;
}
.alert.pichartSec.bg-gray{
    margin-top:45px;
}
.main .alert ul {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.main .alert li {
    float: left;
    width: 100%;
    padding: 0px 20px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 300;
    margin: 0px 0px 10px 0px;
    background: #fcfcfc;
    border-radius: 3px;
    border-top: 1px solid #fbfafa;
    border-bottom: 1px solid #fbfafa;
}

.main .alert li span {
    float: left;
    width: 60px;
    font-size: 16px;
}

.main .alert li span.red {
    color: #ff0000;
}

.main .alert li span.site-green {
    color: #61c8c6;
}


.main .alert {
    float: left;
    width: 100%;
    padding: 10px 20px 15px;
    position: relative;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;/*
    border-top-left-radius: 0;
    border-top-right-radius: 0;*/
    background: #eee;
        overflow: hidden;
        text-align:center
}

.main .graph {
    margin: 0px 0px 0px 0px;
    padding: 10px 30px;
    background: #fff;
    cursor: pointer;
    height: 180px;
}
.main .graph img {
    height: 170px;
    max-width: 100%;
}
.main .total-count {
    float: left;
    width: 100%;
    border-top: 1px solid #e0d7d7;
    background: #fff;
}

.main .total-count ul {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.main .total-count ul li {
    float: left;
    width: 24.93%;
    list-style-type: none;
    padding: 10px 30px 10px 20px;
    color: #2b2f2f;
}

.main .total-count li+li {
    border-left: 1px solid #e0d7d7;
}

.main .total-count ul li p {
    float: left;
    width: 100%;
    margin: 0px;
    position: relative;
}

.main .total-count .top .name {
    float: left;
    font-size: 13px;
    font-weight: 300;
    /*line-height: 28px;*/
    line-height: 20px;
    margin: 0px 10px 0px 0px;
}

.main .total-count .top .value {
    float: left;
    font-size: 17px;
    font-weight: 600;
    /*line-height: 28px;*/
    line-height: 20px;
}

.main .total-count .top .fa {
    float: right;
    font-size: 15px;
    border: 1px solid #b2b4b5;
    border-radius: 50%;
    padding: 2px 5px;
    cursor: pointer;
    color: #b2b4b5;
    position: absolute;
    right: -24px;
    top: 44px;
    position:relative;
    z-index:999;
}

.main .total-count .middle {
    float: left;
    width: 90%;
    font-size: 15px;
    font-weight: bold;
    /*margin: 5px 0px 0px 0px;*/
    margin: 0px 0 0 15px;
    position: relative;
}

.main .total-count .middle span {
    /* float: right; */
    /* width: 40px; */
    position:  absolute;
    top: 7px;
    right: -26px;
}
/*.map img{
     transform:scale(1);
    transition:all 1.5s;
}
.map:hover img{
    transform:scale(1.1);
    transition:all 1.5s;
}*/
.main .total-count .middle .progress {
    float: left;
    width: calc(100% - 80px);
    margin: 3px 0px 0px 0px;
    height: 12px;
    border-radius: 0px;
    background: #4da1db;
    box-shadow: none;
}

.main .total-count .middle .progress-bar {
    background: #68cfd1;
    box-shadow: none;
}

.main .total-count .middle .push {
    margin-left: 40px;
}
.main .total-count .middle .pull {
    position: absolute;
    left: -14px;
    top: 7px;
}
.main .total-count .btm {
    width: 90%;
    margin: 5px 0px 0px 0px;
    font-size: 15px;
    font-weight: 300;
}

.main .rolling-text {
    float: left;
    width: 100%;
    padding: 0px 20px;
    margin: 0px;
    background: #eee;
}
.main .rolling-text marquee {
    float: left;
    width: 100%;
}
.main .rolling-text strong {
    font-size: 17px;
    color: #2b2f2f;
    text-transform: uppercase;
    margin: 0px 0px 0px 20px;
}

.main .rolling-text span {
    font-size: 15px;
    font-weight: 300;
    margin: 0px 10px 0px 5px;
}
.main .rolling-text span span {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 4px 0px 0px;
}
.main .rolling-text span.red {
    color: #ff0000;
}
.main .rolling-text span.green {
    color: #28b701;
}

.main .no-bg {
    background: transparent;
}
.btm-section {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}

.case-report-chart.modal-content {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: #eee
}

.case-report-chart .modal-header {
    padding: 15px 15px 0;
    border: none;
}

.case-report-chart .modal-header h4 {
    font-size: 14px;
    color: #282828;
    text-transform: uppercase;
}

.modal-content.case-report-chart .modal-body {
    padding-top: 10px;
}

/*.case-report-chart .modal-body img {
    width: 100%
}*/
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 0px 15px;
}
.custom-modal {
    max-width: 1080px;
    width: 100%;
}
.modal-dialog.custom-modal.custom-modalw-400{
    max-width: 600px;
}
.modal-dialog.custom-modal.custom-modalw-400 .modal-body{
    padding-top: 0px;
}
.custom-modal .close {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1100;
}
.custom-modal .modal-body {
    /*padding: 25px 20px;*/
    padding: 25px 20px 135px 30px;
}
.custom-modal h4, h4.modal-title {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #282828;
    text-transform: uppercase;
}
.custom-modal .bb {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.custom-modal .toggle .btn {
    opacity: 0.3;
    box-shadow: none;
}
.custom-modal .toggle .btn.active {
    opacity: 1;
}
.custom-modal .btn.high {
    background: #ff0000;
    color: #fff;
    border-color: #ff0000;
}
.custom-modal .btn.mid {
    background: #ff7300;
    color: #fff;
    border-color: #ff7300;
}
.custom-modal .btn.low {
    background: #c8c7c7;
    color: #222;
    border-color: #c8c7c7;
}
.custom-modal .btn.btn-default {
    padding: 2px 12px 2px;
}
.report-accod {
    margin-top: 10px;
    float: left;
    width: 100%;
    /*border: 1px solid #6bdbd0;*/
    border-radius: 5px;
    max-height: 315px;
    overflow-y: auto;
}
.report-accod .table {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #fff;
    border: 10px solid #fff;
    border-radius: 5px;
    border-collapse: unset;
    font-size: 13px;
    font-weight: 300; 
}
/*.report-accod .table th {
    padding: 5px 5px;
    font-weight: 600;
    background: #dff9f8;
    border-bottom: 10px solid #fefefe;
}*/
/*.report-accod .table tr th:first-child {
    border-top-left-radius: 5px;
}
.report-accod .table tr th:last-child {
    border-top-right-radius: 5px;
}*/
.report-accod .table td {
    font-size: 12px;
    border-top: 0px;
    border-bottom: 1px solid #ddd;
    padding: 8px 5px;
    vertical-align: middle;
}
.report-accod .table td:last-child {
    text-align: center;
}
.report-accod .table td .fa {
    background: #90e8e7;
    border-radius: 50%;
    padding: 4px 6px;
    cursor: pointer;
}
.report-accod .table tr.description {
    /*display: none;*/
}
.report-accod .table tr.description td {
    text-align: left;
    padding-top: 6px;
    padding-bottom: 5px;
    font-size:14px;
}
.trending {
    margin-top: 20px;
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #6bdbd0;
    border-radius: 5px;
    max-height: 315px;
    overflow-y: auto;
}
.trending .chart {
    float: left;
    width: 100%;
}
/* incident table */
.incident {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.incident .table {
    border: 10px solid #fff;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
}

.incident .table th,
.incident .table td {
    border-top: 10px solid #fff;
}

.incident .table th {
    background: #eaecef;
    text-transform: uppercase;
    font-weight: 300;
}
.incident .table th:last-child, .incident .table td:last-child {
    text-align: center;
}
.incident .table td:first-child {
    font-weight: 600;
}
.incident .table td {
    font-weight: 300;
    padding: 4px 10px;
    vertical-align: middle;
    background: transparent;
}

.incident .table td span {
    cursor: pointer;
}

.incident .table td a {
    border: 1px solid #93676a;
    color: #2f2d2d;
    border-radius: 5px;
    padding: 5px 0px 2px 0px;
    width: 26px;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    text-decoration: none;
}

.incident .table th:first-child {
    border-radius: 23px 0px 0px 23px;
}

.incident .table th:last-child {
    border-radius: 0px 23px 23px 0px;
}

.incident .table td:first-child {
    border-radius: 23px 0px 0px 23px;
    text-align: left;
}

.incident .table td:last-child {
    border-radius: 0px 23px 23px 0px;
}

.incident .table tr:nth-child(odd) {
    background: #f4f6f7;
}

.incident .table tr:nth-child(even) {
    background: #fcfdfd;
}

.incident .popover {
    max-width: 410px;
}
.incident .popover-content {
    padding: 0px;
}
.popover-content .table {
    border: 5px solid #fff;
}
.popover-content th {
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    color: #282828;
    padding: 4px 10px;
    background: #fafafb;
    border: 0px;
}
.popover-content tr td {
    color: #828282;
    border: 0px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.popover-content .table td:first-child {
    font-weight: 600;
}

.popover-content .table tr th:first-child,
.popover-content .table tr th:last-child,
.popover-content .table tr td:last-child,
.popover-content .table tr td:first-child {
    border-radius: 0px;
}

.flow-diagram {
    /*display: inline-block;*/
    width: 100%;
    float: left;
    border: 1px solid #6bdbd0;
    padding: 15px 0px;
    margin-top: 16px;
    max-height: 680px;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    border-radius: 3px;
    /*max-width: 520px;*/
}
.flow-diagram .h-scroll {
    float: left;
    width: 100%;
    overflow-x: auto;
}
.flow-diagram.level_one {
    padding-top: 10px; 
}
.flow-diagram h4 {
    margin-bottom: 10px;
    text-align: left;  
}
.flow-diagram span {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.flow-diagram .top, .flow-diagram .btm {
    float: left;
    width: 100%;
}
.flow-diagram .top {
    margin: 0px 0px 70px 0px;
}
.flow-diagram .btm {
    margin: 70px 0px 0px 0px;
}
.flow-diagram.level_one .top {
    margin: 0px 0px 0px 0px;
}
.flow-diagram.level_one .mid {
    margin: 60px 0px 60px 0px;
}
.flow-diagram.level_one .btm {
    margin: 0px 0px 0px 0px;
}
.flow-diagram .top-cont, .flow-diagram .btm-cont {
    float: left;
    width: 50%;
}
.flow-diagram .top-ll, 
.flow-diagram .top-rr, 
.flow-diagram .btm-ll, 
.flow-diagram .btm-rr {
    padding: 6px 5px;
    background: #398b8a;
    color: #fff;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}
.flow-diagram .top-lr, 
.flow-diagram .top-rl, 
.flow-diagram .btm-lr, 
.flow-diagram .btm-rl,  
.flow-diagram .mid-lr, 
.flow-diagram .mid-rl {
    padding: 6px 5px;
    background: #25d4d1;
    color: #222;
    border-radius: 10px;
    width: 130px;
    text-align: center;
    z-index: 1;
}  
.flow-diagram .mid-lr, 
.flow-diagram .mid-rl {
    padding: 6px 5px;
    background: #25d4d1;
    color: #222;
    border-radius: 10px;
    width: 130px;
    text-align: center;
    z-index: 1;
}
.flow-diagram .top-lr, .flow-diagram .btm-lr {
    margin: 0px 0px 0px 90px;
}
.flow-diagram .mid-lr {
    margin: 0px 90px 0px 0px;
}
.flow-diagram .mid-rl {
    margin: 0px 0px 0px 90px;
}
.flow-diagram .top-rl, .flow-diagram .btm-rl {
    margin: 0px 90px 0px 0px;
}
.flow-diagram .center {
    position: absolute;
    background: #25d4d1;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
}
.flow-diagram.level_one .center {
    top: calc(50% - 30px);
}
.flow-diagram .top-ll:before, .flow-diagram .top-ll:after, 
.flow-diagram .top-rr:before, .flow-diagram .top-rr:after, 
.flow-diagram .btm-ll:before, .flow-diagram .btm-ll:after, 
.flow-diagram .btm-rr:before, .flow-diagram .btm-rr:after,
.flow-diagram .top-lr:before, .flow-diagram .top-lr:after,
.flow-diagram .top-rl:before, .flow-diagram .top-rl:after,
.flow-diagram .btm-lr:before, .flow-diagram .btm-lr:after,
.flow-diagram .btm-rl:before, .flow-diagram .btm-rl:after,
.flow-diagram .mid-lr:before, .flow-diagram .mid-lr:after,
.flow-diagram .mid-rl:before, .flow-diagram .mid-rl:after {
    content: '';
    position: absolute;
}
.flow-diagram .top-ll:before, .flow-diagram .top-rr:before,
.flow-diagram .btm-ll:before, .flow-diagram .btm-rr:before,
.flow-diagram .top-lr:before, .flow-diagram .top-rl:before,
.flow-diagram .btm-lr:before, .flow-diagram .btm-rl:before,
.flow-diagram .mid-lr:before, .flow-diagram .mid-rl:before {
    border: 4px solid #ff6565;
    border-radius: 50%;
    z-index: 1;
}
.flow-diagram .top-ll:before, .flow-diagram .btm-ll:before {
    top: 12px;
    right: -7px;
}
.flow-diagram .top-rr:before, .flow-diagram .btm-rr:before {
    top: 12px;
    left: -7px;
}
.flow-diagram .mid-lr:before {
    top: 12px;
    right: -7px;
}
.flow-diagram .mid-rl:before {
    top: 12px;
    left: -7px;
}
.flow-diagram .top-lr:before {
    bottom: -2px;
    right: -2px;
}
.flow-diagram .top-rl:before {
    bottom: -2px;
    left: -2px;
}
.flow-diagram .btm-lr:before {
    top: -2px;
    right: -2px;
}
.flow-diagram .btm-rl:before  {
    top: -2px;
    left: -2px;
}
.flow-diagram .top-ll:after, .flow-diagram .btm-ll:after {
    width: 40px;
    height: 0px;
    border-top: 1px dashed #000;
    right: -45px;
    top: 50%;
    z-index: 0;
} 
.flow-diagram .top-rr:after, .flow-diagram .btm-rr:after {
    width: 40px;
    height: 0px;
    border-top: 1px dashed #000;
    left: -45px;
    top: 50%;
    z-index: 0;
}
.flow-diagram .top-lr:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    right: -33px;
    bottom: -20px;
    z-index: 0;
    -webkit-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
}
.flow-diagram .top-rl:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    left: -33px;
    bottom: -20px;
    z-index: 0;
    -webkit-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
}
.flow-diagram .btm-lr:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    right: -33px;
    top: -20px;
    z-index: 0;
    -webkit-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
}
.flow-diagram .btm-rl:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    left: -33px;
    top: -20px;
    z-index: 0;
    -webkit-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
}
.flow-diagram .mid-lr:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    right: -50px;
    top: 50%;
    z-index: 0;
}
.flow-diagram .mid-rl:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    left: -50px;
    top: 50%;
    z-index: 0;
}
.flow-diagram .flow-obj {
    cursor: pointer;
}
.flow-diagram .active {
    border: 1px solid #fff;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    background: #0a8381;
    color: #fff;
}
.flow-diagram .active.midle {
    padding: 30px 10px;
}
.opacity-3 {
    opacity: 0.3;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: context-menu;
}
.correlation-levels {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 15px 0px;
}
.correlation-levels ul {
    float: left;
    width: 100%;
    padding: 0px 0px 5px 0px;
    margin: 0px;
}
.correlation-levels ul li {
    float: left;
    width: calc(33.33% - 60px);
    padding: 7px 10px 3px 10px;
    margin: 0px;
    list-style-type: none;
    border-radius: 2px;
}
.correlation-levels ul li:nth-child(2) {
    margin: 0px 90px;
}
.correlation-levels ul li .count {
    float: left;
    font-size: 30px;
    line-height: 30px;
}
.correlation-levels ul li .content {
      float: right;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
}
.correlation-levels ul li.high {
    background: #c964a0;
    color: #fff;
}
.correlation-levels ul li.mid {
    background: #76d0cf;
    color: #fff;
}
.correlation-levels ul li.low {
    background: #dcc9ae;
    color: #393939;
}
.bb {
    border-bottom: 1px solid #ddd;
}

.site_level {
    position: relative;
    
}
.site_level .coordinates .zone {
    position: absolute;
    bottom: 15px;
}
.site_level .coordinates .zone span {
    float: left;
    width: 100%;
    line-height: 20px;
}
.site_level .coordinates .zone span.color_white {
    color: #fff;
    margin: 11px 0px 0px 0px;
}
.site_level .coordinates .zone span.color_black {
    color: #000;
}
.site_level .coordinates .level_1 {
    width: 35px;
    height: 30px;
    background: url(../img/level_1.png) no-repeat center center;
    background-size: contain;
}
.site_level .coordinates .level_2 {
    width: 56px;
    height: 50px;
    background: url(../img/level_2.png) no-repeat center center;
    background-size: contain;
    
}
.site_level .coordinates .level_3 {
    width: 78px;
    height: 70px;
    background: url(../img/level_3.png) no-repeat center center;
    background-size: contain;
}
.site_level .coordinates .zone_1 {
    top: 40px;
    right: 270px;
}
.site_level .coordinates .zone_2 {
    bottom: 130px;
    right: 320px;
}
.site_level .coordinates .zone_3 {
    top: 20px;
    right: 14px;
}
.site_level .coordinates .zone_4 {
    bottom: 45px;
    right: 143px;
}
.site_level .coordinates .zone_5 {
    bottom: 45px;
    right: 20px;
}

.opu_level.map {
    position: relative;
    max-width: 347px;
    
}
.opu_level_one.map {
    position: relative;
    max-width: 760px;
    
}
.opu_level .coordinates .pos {
    position: absolute;
    bottom: 15px;
    cursor:pointer;
    font-size:9px;
}
.opu_level .coordinates .pos span {
    float: left;
    width: 100%;
    line-height: 20px;
}
.opu_level .coordinates .pos .title {
    background: #fff;
    border: 1px solid #25d4d1;
    border-radius: 3px;
    line-height: 17px;
    font-size: 13px;
}
.opu_level .coordinates .pos span.color_white {
    color: #fff;
    margin: 11px 0px 0px 0px;
}
.opu_level .coordinates .pos span.color_black {
    color: #000;
}
.opu_level .coordinates .level_1 {
    width: 35px;
    height: 30px;
    background: url(../img/level_1.png) no-repeat center center;
    background-size: contain;
}
.opu_level .coordinates .level_2 {
    width: 56px;
    height: 50px;
    background: url(../img/level_2.png) no-repeat center center;
    background-size: contain;
    
}
.opu_level .coordinates .level_3 {
    width: 78px;
    height: 70px;
    background: url(../img/level_3.png) no-repeat center center;
    background-size: contain;
    font-size:9px;
}
.opu_level .coordinates .pos_1 {
    left: 20px;
    top: -10px;
}
.opu_level .coordinates .pos_2 {
    left: 30px;
    top: 80px;
}
.opu_level .coordinates .pos_3 {
    left: 240px;
    top: 80px;
}
.opu_level .coordinates .pos_4 {
    left: 250px;
    top: 170px;
}
.opu_level .coordinates .pos_5 {
    left: 150px;
    top: 210px;
}
.opu_level .coordinates .pos_6 {
    left: 210px;
    top: 260px;
}
.opu_level_one .coordinates .pos_1 {
    right: 90px;
    top: 10px;
    left: auto;
}
.opu_level_one .coordinates .pos_2 {
    right: 170px;
    top: 150px;
    left: auto;
}
.opu_level_one .coordinates .pos_3 {
    left: auto;
    top: auto;
        bottom: 185px;
    right: 260px;
}
.opu_level_one .coordinates .pos_4 {
    left: 110px;
    top: 150px;
}

.group_level {
    position: relative;    
}
.group_level .coordinates .pos {
    position: absolute;
    bottom: 15px;
    cursor:pointer
}
.group_level .coordinates .pos span {
    float: left;
    width: 100%;
    line-height: 20px;
    font-size:9px;
}
.group_level .coordinates .pos .title {
    background: #fff;
    border: 1px solid #25d4d1;
    border-radius: 3px;
    line-height: 17px;
    font-size: 13px;
}
.group_level .coordinates .pos span.color_white {
    color: #fff;
    margin: 11px 0px 0px 0px;
}
.group_level .coordinates .pos span.color_black {
    color: #000;
}
.group_level .coordinates .level_1 {
    width: 35px;
    height: 30px;
    background: url(../img/level_1.png) no-repeat center center;
    background-size: contain;
}
.group_level .coordinates .level_2 {
    width: 56px;
    height: 50px;
    background: url(../img/level_2.png) no-repeat center center;
    background-size: contain;
    
}
.group_level .coordinates .level_3 {
    width: 78px;
    height: 70px;
    background: url(../img/level_3.png) no-repeat center center;
    background-size: contain;
}
.group_level .coordinates .pos_1 {
  right: 59px;
    bottom: 166px;

}
.group_level .coordinates .pos_2 {
    left: 330px;
    top: 150px;
}
.group_level .coordinates .pos_3 {
    right: 270px;
    top: 100px;
}
.group_level .coordinates .pos_4 {
    right: 220px;
    top: 30px;
}
.group_level .coordinates .pos_5 {
    left: 330px;
    top: -10px;
}
.group_level .coordinates .pos_6 {
    left: 30px;
    top: 50px;
}
.group_level .coordinates .pos_7 {
    left: 180px;
    top: 230px;
}
.group_level .coordinates .pos_8 {
    right: 40px;
    bottom: 80px;
}

.apac_level.map {
    position: relative;
    max-width: 347px;
}
.apac_level .coordinates .pos {
    position: absolute;
    bottom: 15px;
}
.apac_level .coordinates .pos span {
    float: left;
    width: 100%;
    line-height: 20px;
    font-size: 9px;
}
.apac_level .coordinates .pos .title {
    background: #fff;
    border: 1px solid #25d4d1;
    border-radius: 3px;
    line-height: 17px;
    font-size: 13px;
}
.apac_level .coordinates .pos span.color_white {
    color: #fff;
    margin: 11px 0px 0px 0px;
}
.apac_level .coordinates .pos span.color_black {
    color: #000;
}
.apac_level .coordinates .level_1 {
    width: 35px;
    height: 30px;
    background: url(../img/level_1.png) no-repeat center center;
    background-size: contain;
}
.apac_level .coordinates .level_2 {
    width: 56px;
    height: 50px;
    background: url(../img/level_2.png) no-repeat center center;
    background-size: contain;
    
}
.apac_level .coordinates .level_3 {
    width: 78px;
    height: 70px;
    background: url(../img/level_3.png) no-repeat center center;
    background-size: contain;
}
.apac_level .coordinates .pos_1 {
    right: 80px;
    top: 120px;
}
.apac_level .coordinates .pos_2 {
    left: 130px;
    top: 180px;
}
.apac_level .coordinates .pos_3 {
    right: 40px;
    bottom: 80px;
}


/*sathish*/
.opu_level_two.map {
    position: relative;
    max-width: 760px;
    
}
.opu_level_two p {
    margin: 0px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
        color: #000;
}
.opu_level_two .coordinates .dot-orange {
    position: absolute;
    cursor: pointer;
}
.opu_level_two .coordinates .level_3 span {
    float: left;
    width: 100%;
    line-height: 20px;
}
.opu_level_two .coordinates .dot-orange .title {
    background: #fff;
    border: 1px solid #25d4d1;
    border-radius: 3px;
    line-height: 17px;
    font-size: 12px;
    text-transform: capitalize;
}
.opu_level_two .coordinates .dot-orange span.color_white {
    color: #fff;
    margin: 11px 0px 0px 0px;
}
.opu_level_two .coordinates .dot-orange span.color_black {
    color: #000;
}
.opu_level_two .coordinates .dot-left .level_3, .opu_level_two .coordinates .dot-right .level_3  {
    position: absolute;
    left: 100%;
    top: -73px;
    width: 78px;
    height: 70px;
    background: url(../img/level_3.png) no-repeat center center;
    background-size: contain;
    z-index: 999;
}
.opu_level_two .coordinates .pos_1 {
    left: 520px;
    top: 200px;
    width: 115px;
}
.opu_level_two .coordinates .pos_2 {
    left: 370px;
    top: 43px;
}
.opu_level_two .coordinates .pos_3 {
    left: 175px;
    top: 216px;
}
.opu_level_two .coordinates .pos_4 {
    left: 560px;
    top: 245px;
}
.opu_level_two .coordinates .pos_5 {
    left: 214px;
    top: 232px;
}
.opu_level_two .coordinates .pos_6 {
    left: 70%;
    top: 59%;
}
.opu_level_two .coordinates .pos_7 {
    left: 230px;
    top: 161px;
}
.opu_level_two .coordinates .pos_8 {
    left: 70%;
    top: 38%;
}
.opu_level_two .coordinates .pos_9 {
    left: 220px;
    top: 197px;
}
.opu_level_two .coordinates .pos_10 {
    left: 200px;
    top: 142px;
}
.opu_level_two .coordinates .pos_11 {
    left: 470px;
    top: 30px;
}
.opu_level_two .coordinates .pos_12 {
    left: 300px;
    top: 25px;
}
.opu_level_two .coordinates .pos_13 {
    left: 410px;
    top: 0px;
}
.opu_level_two .coordinates .pos_14 {
    left: 472px;
    top: 160px;
}
.opu_level_two .coordinates .pos_15 {
    left: 410px;
    top: 90px;
}
.opu_level_two .coordinates .pos_16 {
    left: 500px;
    top: 268px;
}
.opu_level_two .coordinates .pos_17 {
    left: 571px;
    top: 90px;
}
.opu_level_two .coordinates .pos_18 {
    left: 540px;
    top: 45px;
}
/**/
.opu_level_two .level_3 {
    display: none;
}
.opu_level_two .dot-orange {
    position: relative;
}
.opu_level_two .dot-left {
    padding-left :20px;
    padding-right: 5px;
    opacity:0.4;
}
.opu_level_two .dot-right {
    padding-right: 20px;
    opacity:0.4;
}
.opu_level_two .dot-orange:before {
    content:"";
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url('../img/dot-orange.png');
    background-repeat: no-repeat;
}
.opu_level_two .dot-right:before {
    right: 5px;
    top: 3px;
}
.opu_level_two .dot-left:before {
    left: 5px;
    top: 3px;
}








.site_level_one.map {
/*    position: relative;
    max-width: 760px;
    */
    position: absolute;
    left: 0px;
    background: url(../img/malaysia-cloastal-line-1.png) no-repeat;
    height: 748px;
    background-size: cover;
    border: 1px solid #ddd;
    margin: 0px;
    width:100%;
}
.site_level_one.map img {
    display: none;
}
.site_level_one .coordinates .pos {
    position: absolute;
    width: 87px;
    cursor: pointer;
}
.site_level_one .coordinates .pos span {
    float: left;
    width: 100%;
    line-height: 20px;
}
.site_level_one .coordinates .pos .title {
    line-height: 17px;
    font-size: 13px;
    margin: 0px 0px 10px 0px;
}
.site_level_one .coordinates .pos span.color_white {
    color: #fff;
    margin: 11px 0px 0px 0px;
}
.site_level_one .coordinates .pos span.color_black {
    color: #000;
}
.site_level_one .coordinates span.crane {
    width: 87px;
    height: 83px;
    background: url(../img/crane-1.png) no-repeat center center;
    background-size: contain;
}
.site_level_one .coordinates .pos_1 {
    left: 72%;
    top: 200px;
}
.site_level_one .coordinates .pos_2 {
    left: 57%;
    top: 220px;
}
.site_level_one .coordinates .pos_3 {
    left: 51%;
    top: 90px;
}
.site_level_one .coordinates .pos_4 {
    left: 32%;
    top: 20px;
}


.custom-modal-wdth-lg {
    max-width:1500px;
    width:100%;
}
.custom-modal-wdth-lg .modal-body {
    padding:30px;
}
.popup-table {
    background: #fff;
    padding: 10px;
}
.popup-table table thead tr {
    background: #eaecef;
}
.popup-table table tbody tr:nth-child(1) td a {
    background: #c964a0;
    border-radius: 5px;
}
.popup-table table tbody tr:nth-child(1) td span {
    background: #c964a0;
    border-radius: 5px;
}
.popup-table table tbody tr:nth-child(2) td a {
    background: #76d0cf;
    border-radius: 5px;
}
.popup-table table tbody tr:nth-child(2) td span {
    background: #76d0cf;
    border-radius: 5px;
}
.popup-table table tbody tr:nth-child(3) td a {
    background: #dcc9ae;
    border-radius: 5px;
    color:#000;
}
.popup-table table tbody tr:nth-child(3) td span {
    background: #dcc9ae;
    border-radius: 5px;
    color:#000;
}
.popup-table table tbody tr td  {
    text-align:center;
    border-top:none;
}
.popup-table table tbody tr td:first-child {
    text-align:left;
}
.popup-table table tbody tr td span {
    cursor: pointer;
    color: #fff;
    padding: 2px 5px;
    display: inline-block;
    min-width: 175px;
    font-size: 12px;
    font-weight: 600;
}
.popup-table table tbody tr td span i {
    margin-top:3px;
    padding-right:3px; 
}
.modal-open .modal{
    overflow-y:hidden;
        background: rgba(0, 0, 0, 0.3803921568627451);
}
.modal-body{
    max-height:732px;
    overflow-y:auto;
}
.popup-table table tbody tr td a{
    color: #fff;
    width: 60px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    text-decoration: none;
    cursor: pointer;
}
.m-t-b {
    margin-top:-25px;
    margin-bottom:25px;
}
.black {
    background: #434348;
    border-color:#434348;
    color:#fff;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/*.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.zoomIn.speed { 
   -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
 }*/
/*@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;

    }
    100% {
        opacity: 1;
    }
}*/
/*@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
} */
@media screen and (max-width: 1400px) {
    
    .site_level_one.map {
        /*height: 440px;*/
    }
    .site_level_one .coordinates .pos_1 {
        left: 690px;
    }
    .site_level_one .coordinates .pos_2 {
        left: 550px;
    }
    .site_level_one .coordinates .pos_3 {
        left: 500px;
    }
    .site_level_one .coordinates .pos_4 {
        left: 300px;
    }
} 
@media screen and (max-width: 1360px) and (min-width: 1201px) {
    .main .map {
        max-width: 650px;
    }
    .main .map img {
        width: 100%;
    }
    .opu_level.map {
        max-width: 347px;
    }
    .opu_level_one.map {
        max-width: 650px;
    }
    .opu_level_two.map {
        max-width: 650px;
    }
    .group_level .coordinates .pos_2 {
        left: 280px;
        top: 140px;
    }
    .group_level .coordinates .pos_3 {
        right: 230px;
        top: 100px;
    }
    .group_level .coordinates .pos_4 {
        right: 180px;
        top: 30px;
    }
    .group_level .coordinates .pos_5 {
        left: 280px;
        top: -10px;
    }
    .group_level .coordinates .pos_7 {
        left: 140px;
        top: 210px;
    }
    .site_level .coordinates .zone_1 {
        top: 20px;
        right: 230px;
    }
    .site_level .coordinates .zone_2 {
        bottom: 120px;
        right: 240px;
    }
    .site_level .coordinates .zone_3 {
        top: 40px;
        right: 14px;
    }
    .site_level .coordinates .zone_4 {
        bottom: 25px;
        right: 120px;
    }
    .site_level .coordinates .zone_5 {
        bottom: 25px;
        right: 14px;
    }
    .opu_level_two .coordinates .pos_1 {
        left: 540px;
    }
    .opu_level_two .coordinates .pos_2 {
        left: 330px;
    }
    .opu_level_two .coordinates .pos_3 {
        left: 135px;
    }
    .opu_level_two .coordinates .pos_4 {
        left: 520px;
    }
    .opu_level_two .coordinates .pos_5 {
        left: 174px;
    }
    .opu_level_two .coordinates .pos_6 {
        left: 183px;
    }
    .opu_level_two .coordinates .pos_7 {
        left: 190px;
    }
    .opu_level_two .coordinates .pos_8 {
        left: 190px;
    }
    .opu_level_two .coordinates .pos_9 {
        left: 180px;
    }
    .opu_level_two .coordinates .pos_10 {
        left: 160px;
    }
    .opu_level_two .coordinates .pos_11 {
        left: 430px;
    }
    .opu_level_two .coordinates .pos_12 {
        left: 260px;
    }
    .opu_level_two .coordinates .pos_13 {
        left: 370px;
    }
    .opu_level_two .coordinates .pos_14 {
        left: 432px;
    }
    .opu_level_two .coordinates .pos_15 {
        left: 370px;
    }
    .opu_level_two .coordinates .pos_16 {
        left: 450px;
    }
    .opu_level_two .coordinates .pos_17 {
        left: 531px;
    }
    .opu_level_two .coordinates .pos_18 {
        left: 500px;
    }




    /*.site_level_one.map {
        height: 400px;
        max-width: 800px;
        background-position: 50% 0%;
    }*/
    .site_level_one .coordinates .pos_1 {
        left: 520px;
    }
    .site_level_one .coordinates .pos_2 {
        left: 380px;
    }
    .site_level_one .coordinates .pos_3 {
        left: 330px;
    }
    .site_level_one .coordinates .pos_4 {
        left: 180px;
    }
}
@media screen and (max-height: 700px) {
    header .title h2 {
        font-size: 16px;
        line-height: 24px;
    }
    header .calander {
        font-size: 15px;
    }
    h4 {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .main .alert li span {
        font-size: 16px;
    }
    .main .alert li {
        padding: 0px 20px;
        font-size: 12px;
    }
    .main .alert {
        padding: 0 20px 10px;

    }
    .main .rolling-text {
        padding: 0px 20px;
    }
    .main .rolling-text strong {
        font-size: 17px;
    }
    .main .graph {
        padding: 10px 30px;
        height: 180px;
        margin: 0px;
    }
   

    .main .total-count .top .value {
        font-size: 17px;
    }
    .main .total-count .top .fa {
        font-size: 15px;
    }
    .main .total-count ul li {
        /*padding: 10px 30px 10px 20px;*/
        padding: 5px 30px 10px 5px;
    }
    .main .table {
        font-size: 11px;
        margin: 0px;
    }
    .main h4 {
        font-size: 13px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px){
    .main .map {
        max-width: 510px;
    }
    .main .map img {
        width: 100%;
    }
    .main h4 {
        font-size: 13px;
        line-height: 20px;
    }
    .main h4 span {
        float: left;
        width: 65%;
        margin: 0px;
    }
    .opu_level.map {
        max-width: 347px;
    }
    .opu_level_one.map {
        max-width: 650px;
    }
    .opu_level_two.map {
        max-width: 650px;
    }
    .main {
        padding: 3px 0px 190px 0px;
    }
    .main .legend {
        margin: 20px 0px 0px 0px;
    }
    .main .total-count .top .name {
        width: 100%;
        line-height: 18px;
    }
    .main .total-count .top .fa {
        top: 20px;
    }
    .main .total-count .middle {
        width: 100%;
    }
    .main .total-count .middle .highcharts-container  {
        top: -12px;
        left: -10px;
    }
    .main .total-count .btm {
        width: 100%;
        margin: 0px;
    }
    .main .total-count .middle .pull {
        position: relative;
        left: 0px;
        top: 0px;
        right: auto;
        float: left;
    }
    .main .total-count .middle .title {
        position: relative;
        left: 0px;
        top: 0px;
        right: auto;
        display: inline-block;
    }

    .group_level .coordinates .pos_2 {
        left: 280px;
        top: 140px;
    }
    .group_level .coordinates .pos_3 {
        right: 230px;
        top: 100px;
    }
    .group_level .coordinates .pos_4 {
        right: 180px;
        top: 30px;
    }
    .group_level .coordinates .pos_5 {
        left: 280px;
        top: -10px;
    }
    .group_level .coordinates .pos_7 {
        left: 140px;
        top: 210px;
    }
    .site_level .coordinates .zone_1 {
        top: 20px;
        right: 230px;
    }
    .site_level .coordinates .zone_2 {
        bottom: 120px;
        right: 240px;
    }
    .site_level .coordinates .zone_3 {
        top: 40px;
        right: 14px;
    }
    .site_level .coordinates .zone_4 {
        bottom: 25px;
        right: 120px;
    }
    .site_level .coordinates .zone_5 {
        bottom: 25px;
        right: 14px;
    }
    .opu_level_two .coordinates .pos_1 {
        left: 450px;
    }
    .opu_level_two .coordinates .pos_2 {
        left: 330px;
    }
    .opu_level_two .coordinates .pos_3 {
        left: 135px;
    }
    .opu_level_two .coordinates .pos_4 {
        left: 490px;
    }
    .opu_level_two .coordinates .pos_5 {
        left: 174px;
    }
    .opu_level_two .coordinates .pos_6 {
        left: 68%;
    }
    .opu_level_two .coordinates .pos_7 {
        left: 190px;
    }
    .opu_level_two .coordinates .pos_8 {
        left: 70%;
    }
    .opu_level_two .coordinates .pos_9 {
        left: 180px;
    }
    .opu_level_two .coordinates .pos_10 {
        left: 160px;
    }
    .opu_level_two .coordinates .pos_11 {
        left: 430px;
    }
    .opu_level_two .coordinates .pos_12 {
        left: 260px;
    }
    .opu_level_two .coordinates .pos_13 {
        left: 370px;
    }
    .opu_level_two .coordinates .pos_14 {
        left: 432px;
    }
    .opu_level_two .coordinates .pos_15 {
        left: 370px;
    }
    .opu_level_two .coordinates .pos_16 {
        left: 450px;
    }
    .opu_level_two .coordinates .pos_17 {
        left: 475px;
    }
    .opu_level_two .coordinates .pos_18 {
        left: 425px;
        top:55px;
    }

    .site_level_one.map {
        height: 400px;
        max-width: 800px;
        background-position: 50% 0%;
    }
    .site_level_one.map {
        background: none;
        border:none;
        margin-top: 5px;
    }
    .site_level_one.map img {
        display:block;
        padding-top:362px;
        border:1px solid #eee;
    }
    .site_level_one .coordinates .pos_1 {
        left: 483px;
        top: 300px;
    }
    .site_level_one .coordinates .pos_2 {
        left: 380px;
    }
    .site_level_one .coordinates .pos_3 {
        left: 330px;
    }
    .site_level_one .coordinates .pos_4 {
        left: 180px;
    }
}
@media screen and (max-width: 991px) {
    .main .right {
        float: left;
        width: 100%;
        margin-top: 40px;
    }
    .custom-modal {
        max-width: 960px;
        padding: auto 15px;
    }
    .custom-modal .btn.btn-default {
        padding: 2px 10px 2px;
        text-transform: capitalize;
    }
    .flow-diagram .top-rl, .flow-diagram .btm-rl {
        margin: 0px 60px 0px 0px;
    }
    .flow-diagram .top-lr, .flow-diagram .btm-lr {
        margin: 0px 0px 0px 60px;
    }
    .main .alert li {
        padding: 0px 5px;
        font-size: 12px;
    }
    .main .alert {
        padding: 8px 8px;
    }
    .main .alert li span {
        width: auto;
        margin: 0px 3px 0px 0px;
    }


    .site_level_one.map {
        position: relative;
        left: auto;
        background: none;
        height: auto;
        border-right: 0px;
        margin: 0px;
        max-width: 750px;
    }
    .site_level_one.map img {
        display: block;
        width: 100%;
    }
    .site_level_one .coordinates .pos_1 {
        left: 600px;
        top: 150px;
    }
    .site_level_one .coordinates .pos_2 {
        left: 430px;
        top: 170px;
    }
    .site_level_one .coordinates .pos_3 {
        left: 370px;
        top: 60px;
    }
    .site_level_one .coordinates .pos_4 {
        left: 230px;
        top: 20px;
    }

    .modal-dialog {
        margin: 30px auto;
    }
    .flow-diagram .top-rl, .flow-diagram .btm-rl {
        margin: 0px 90px 0px 0px;
    }
    .flow-diagram .top-lr, .flow-diagram .btm-lr {
        margin: 0px 0px 0px 90px;
    }
    .main {
        padding: 3px 0px 185px 0px;
    }
    .main .total-count .top .name {
        float: left;
        width: 100%;
        margin: 0px;
        line-height: 14px;
    }
    .main .total-count ul li {
        padding: 10px 10px 10px 10px;
    }
    .main .total-count .top .value {
        font-size: 14px;
    }
    .main .total-count .top .fa {
        right: 0px;
        top: 20px;
    }
    .main .total-count .middle .push {
        margin-left: 0px;
    }
    .main .total-count .middle .progress {
        width: 100%;
    }
    .main .total-count .middle .pull {
        position: relative;
        left: auto;
    }
    .main .total-count .middle .title {
        width: 50%;
    }
    .btn-default {
        padding: 2px 10px 2px;
    }
}
@media screen and (max-width: 800px) {
    header .title h2 {
        font-size: 14px;
        padding: 12px 8px;
    }
    .main .map {
        max-width: 600px;
    }
    .main .map img {
        width: 100%;
    }
    .opu_level.map {
        max-width: 347px;
    }
    .opu_level_one.map {
        max-width: 600px;
    }
    .opu_level_two.map {
        max-width: 600px;
    }
    .group_level .coordinates .pos_1 {
        right: 80px;
        bottom: 110px;
    }
    .group_level .coordinates .pos_2 {
        left: 260px;
        top: auto;
        bottom: 100px;
    }
    .group_level .coordinates .pos_3 {
        right: 200px;
        top: 90px;
    }
    .group_level .coordinates .pos_4 {
        right: 150px;
        top: 20px;
    }
    .group_level .coordinates .pos_5 {
        left: 250px;
        top: -10px;
    }
    .group_level .coordinates .pos_6 {
        left: 30px;
        top: 20px;
    }
    .group_level .coordinates .pos_7 {
        left: 120px;
        top: 170px;
    }
    .group_level .coordinates .pos_8 {
        right: 20px;
        bottom: 50px;
    }
    .site_level .coordinates .zone_1 {
        top: 20px;
        right: 215px;
    }
    .site_level .coordinates .zone_2 {
        bottom: 110px;
        right: 220px;
    }
    .site_level .coordinates .zone_3 {
        top: 40px;
        right: 14px;
    }
    .site_level .coordinates .zone_4 {
        bottom: 25px;
        right: 120px;
    }
    .site_level .coordinates .zone_5 {
        bottom: 25px;
        right: 10px;
    }
    .opu_level_one .coordinates .pos_1 {
        right: 70px;
        top: 30px;
        left: auto;
    }
    .opu_level_one .coordinates .pos_3 {
        left: auto;
        top: auto;
        bottom: 50px;
        right: 330px;
    }
    .opu_level_one .coordinates .pos_4 {
        left: 80px;
        top: 90px;
    }
    .correlation-levels ul li {
        width: calc(33.33% - 10px);
    }
    .correlation-levels ul li:nth-child(2) {
        margin: 0px 15px;
    }
    .correlation-levels ul li .count {
        font-size: 24px;
        line-height: 24px;
    }
    .correlation-levels ul li .content {
        font-size: 14px;
        line-height: 24px;
    }
    .opu_level_two .coordinates .pos_1 {
        left: 520px;
    }
    .opu_level_two .coordinates .pos_2 {
        left: 310px;
    }
    .opu_level_two .coordinates .pos_3 {
        left: 115px;
    }
    .opu_level_two .coordinates .pos_4 {
        left: 500px;
    }
    .opu_level_two .coordinates .pos_5 {
        left: 164px;
    }
    .opu_level_two .coordinates .pos_6 {
        left: 173px;
    }
    .opu_level_two .coordinates .pos_7 {
        left: 170px;
    }
    .opu_level_two .coordinates .pos_8 {
        left: 170px;
    }
    .opu_level_two .coordinates .pos_9 {
        left: 160px;
    }
    .opu_level_two .coordinates .pos_10 {
        left: 140px;
    }
    .opu_level_two .coordinates .pos_11 {
        left: 410px;
    }
    .opu_level_two .coordinates .pos_12 {
        left: 240px;
    }
    .opu_level_two .coordinates .pos_13 {
        left: 350px;
    }
    .opu_level_two .coordinates .pos_14 {
        left: 412px;
    }
    .opu_level_two .coordinates .pos_15 {
        left: 350px;
    }
    .opu_level_two .coordinates .pos_16 {
        left: 430px;
    }
    .opu_level_two .coordinates .pos_17 {
        left: 511px;
    }
    .opu_level_two .coordinates .pos_18 {
        left: 480px;
    }
    
    .site_level_one .coordinates .pos_1 {
        left: 490px;
        top: 110px;
    }
    .site_level_one .coordinates .pos_2 {
        left: 350px;
        top: 130px;
    }
    .site_level_one .coordinates .pos_3 {
        left: 280px;
        top: 30px;
    }
    .site_level_one .coordinates .pos_4 {
        left: 160px;
        top: 0px;
    }
}

.switch {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px auto 0;
    height: 26px;
    width: 120px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    float:  left;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 10px;
  color: #000;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
  Note: using adjacent or general sibling selectors 
  combined with pseudo classes doesn't work in Safari 
  5.0 and Chrome 12.
  See this article for more info and a potential fix: 
  https://css-tricks.com/webkit-sibling-bug/
*/

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}

.high-bg{
  position: absolute;
    width: 35px;
    height: 29px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../img/high-correlation_1.png);
    background-size: contain;
    font-size: 13px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.high-bg.pos1{
    top: 30px;
    right: 125px;
}

.high-bg.pos2{
  top: 205px;
  left: 250px;
}

/*.high-bg.pos3{
     top: 101px;
     left: 239px;
}*/
.high-bg.pos3{
    top: 91px;
    left: 159px;
}
.medium-bg{
  position: absolute;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../img/medium-correlation_1.png);
    background-size: contain;
    font-size: 13px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.medium-bg.pos1{
    top: 106px;
    right: 140px;
}
.medium-bg.pos2{
    top: 196px;
    left: 307px;
}

/*.medium-bg.pos3{
     top: 245px;
     left: 265px;
}*/
.medium-bg.pos3 {
    top: 204px;
    left: 170px;
}
.low-bg{
  position: absolute;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../img/low-correlation_1.png);
    background-size: contain;
    font-size: 13px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.low-bg.pos1{
    top: 210px;
    right: 110px;
}
.low-bg.pos2{
    top: 245px;
    left: 295px;
}
/*.low-bg.pos3{
          top: 175px;
          left: 175px;
}*/
.low-bg.pos3 {
    top: 150px;
    left: 105px;
}
.breadcrumb{
    margin:0 0 5px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 8px 0;
    background: none;
}
.breadcrumb a {
    cursor: pointer;
    color: #00aca7;
    text-decoration: none;
    font-size: 12px;
}
.breadcrumb li {
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}
span.high-bg.pos4 {
    top: 41px;
}

span.medium-bg.pos4 {
    top: 191px;
    left: 400px;
}

span.low-bg.pos4 {
    top: 40px;
    left: 57px;
}

span.high-bg.pos5 {
    top: 99px;
    left: 100px;
}

span.medium-bg.pos5 {
    left: 201px;
    bottom: 112px;
}

span.low-bg.pos5 {
    top: 69px;
}

span.high-bg.pos6 {
    top: 68px;
    left: 64px;
}

span.medium-bg.pos6 {
    bottom: 159px;
    left: 380px;
}

span.low-bg.pos6 {
    top: 177px;
    left: 331px;
}
.btn.btn-default.map-btn{
    background-color: #4da1db;
    color: #fff;
    border:none!important;
}
span.high-bg.pos7.ng-binding {
    top: 30px;
    left: 265px;
}

span.medium-bg.pos7.ng-binding {
    top: 94px;
    left: 220px;
}

span.low-bg.pos7.ng-binding {
    top: 140px;
    left: 282px;
}
button:focus,
button:active{
    outline: none;
}
.breadcrumb>li{
    cursor: pointer;
}

.table-btn{
    border: 0;
    box-shadow: none;
    background-color: transparent;
    text-transform: uppercase;
}

::-webkit-scrollbar {
   width: 10px;
   height: 10px;
   
}

::-webkit-scrollbar-track {
   background: #dcdbdb; 
}

::-webkit-scrollbar-thumb {
   background: #888; 
   border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
   background: #555; 
}
.modal-content .breadcrumb>li,
.modal-content .breadcrumb>li a{
    cursor: context-menu;
}
.green{
    color: #28b701
}
text{
    text-decoration: none!important;
}
text tspan{
    font-size: 13px!important;
    color: #111!important;
}


.node {
    cursor: pointer;
   
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font-size: 11px;
     font-weight: 900;
     width: 30px;
     word-break: break-all;
     display: inline-block;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#body{
    padding:0 10%;
    width: 3000px;
    height: 300px;
    overflow: hidden;
    max-height: 290px;
}
svg:not(root){
    overflow:unset!important;
}
 span.prev-icon{
    position: absolute;
    left: 0;
    top: 38%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background-color: #00aca7;
 }

 span.next-icon{
    position: absolute;
    right: 0;
    top: 38%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background-color: #00aca7;
 }
 .main .graph.shadow{
    height: 335px;
    background:#eee;
 }
 .modal-dialog.custom-modal.custom-modal1{
     max-width:100%;
 }

 .legend-twochart{
    list-style: none;
    padding-left: 0;
    margin-bottom:0;
 }
  .legend-twochart li{
    min-width: 105px;
    float: left;
    position: relative;
  }
    .legend-twochart li:nth-child(1)::before{
    width:10px;
    height:10px;
    background-color:  blue;
    position: absolute;
    left: 10px;
    top: 0;
    bottom:0;
    margin:auto 0;
    content: '';
    border-radius: 10px;
    }
     .legend-twochart li:nth-child(2)::before{
    width:10px;
    height:10px;
    background-color: #9c27b0;
    position: absolute;
    left: 15px;
    top: 0;
    bottom:0;
    margin:auto 0;
    content: '';
    border-radius: 10px;
    }
     .legend-twochart li:nth-child(3)::before{
    width:10px;
    height:10px;
    background-color: #777;
    position: absolute;
    left: 15px;
    top: 0;
    bottom:0;
    margin:auto 0;
    content: '';
    border-radius: 10px;
    }
     .legend-twochart li:nth-child(4)::before{
    width:10px;
    height:10px;
    background-color: #2196f3;
    position: absolute;
    left: 15px;
    top: 0;
    bottom:0;
    margin:auto 0;
    content: '';
    border-radius: 10px;
    }

.legend-twochart.legend-twochart1 li{
    padding-left: 30px;
}
    .alert-que{
        border: 1px solid #ddd;
        width:100%;
        float: left;
        background-color: #f6f6f6;
        padding:20px;
    }
    .alert-que h3{
        margin:5px 0 10px;
        font-weight: 700;
        font-size: 14px;
    }
     .alert-que li{
        color: #555;
        font-size: 13px;
     }
     .modal-dialog.custom-modal-size{
            width: 1260px;
    background: #eee;
     }

     .apac-map-pos{
        transform:scale(0.8);
        transition:all 0.4s;
             position: absolute;
    top: 14px;
    right: -162px;
     }
     .apac-map-pos:hover{
          transform:scale(0.9);
        transition:all 0.4s;
     }


     #main {
  /*float: left;
  width: 525px;*/
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 100%;
  height: 40px;
  padding-top:50px;
}

#legend {
    padding: 10px 0 0 3px;
    position: absolute;
    top: 104px;
    right: 35px;
}
#legend  g{
    text-transform:capitalize;
}
#chart{
    /*position:relative;
    top:-30px;*/
}
/*#scrollbottom{
    width:100%;
    float:left;
    height:20px;
    background-color:#f00;
}*/
#sequence{
    text-transform:capitalize
}
#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}
.cursor-pointer{
    cursor:pointer
}
.active-td{
    background-color:#dff9f8;
}
#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
    position: absolute;
    top: 125px;
    left: 185px;
    width: 140px;
    text-align: center;
    color: #666;
}

#percentage {
  font-size: 2.5em;
}
.mg-t-43 {
    margin-top:-42px;
}
.mg-t-8 {
    margin-top:8px;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
.modal-drop {
    min-width: 300px;
    text-align: left;
    color: #746a6a;
    font-size: 12px;
    padding: 5px !important;
    position: relative;
}
.modal-drop span.caret {
    position: absolute;
    top: 12px;
    right: 5px;
}
.modal-drop-menu {
    min-width:300px;
}
.modal-drop-menu li a {
    text-transform: uppercase;
    padding: 3px 10px;
    cursor:pointer;
    font-size: 12px;
}
.modal-table {
    width: 400px;
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
    height: 475px;
    overflow: visible;
    overflow-y: auto;
    border:10px solid #fff;
}
.modal-table table {
    margin-bottom: 0;
}
.modal-table table thead {
    background: #dff9f8;
}
.modal-table table thead tr th div{
    position:absolute;
    background: #dff9f8;
    padding:8px;
    top:17%;
    margin-left:-8px;
}
.modal-table table thead tr th div:nth-child(1) {
    width:39%;
}
.modal-table table thead tr th :nth-child(2) {
    width:24.5%;
}
.modal-table table thead tr th:nth-child(1) {
    width:60%;
}
.modal-table table thead tr th:nth-child(2) {
    width:40%;
}
.modal-table table thead tr th i.fa-info-circle {
    padding-left:5px;
    font-size: 16px;
    color: #000;
}
.modal-table table tbody tr td {
    border-top:0;
    border-bottom:1px solid #ddd;
}
.modal-table table tbody tr td a {
    color:#333;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-transform: capitalize;
}
.filter-top {
    position: absolute;
    right: 1%;
    top: 17%;
}
.filter-top button.btn.btn-default {
    padding:10px 15px;
    display: block;
    margin-bottom: 15px;
}
.filter-top button.btn.btn-default:focus {
    outline:none;
}
.modal-table1 {
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: auto;
}
.modal-table1 table {
    margin-bottom: 0;
}
.modal-table1 table thead {
    background: #eaecef;
}
.modal-table1 table thead tr th {
    padding: 10px;
}
.modal-table1 table tbody {
    background: #fefefe;
    margin-top:10px;
}
.modal-table1 table tbody tr td {
    text-align: center;
}
.modal-table1 table tbody tr:nth-child() {

}
.tree-diagram {
    background: #fff;
    border-radius: 5px;
    height: 465px;
    margin-top: 15px;
}
.tree-table {
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
    height: 450px;
    overflow: visible;
    overflow-x: auto;
    padding:10px;
}
.tree-table table {
    margin-bottom: 0;
}
.tree-table table thead {
    background: #dff9f8;
}
.tree-table table thead tr th i.fa-info-circle {
    padding-left:5px;
    font-size: 16px;
    color: #000;
}
.tree-table table tbody tr td {
    border-top:0;
    border-bottom:1px solid #ddd;
}
#graph {
    display:inline-block;
}
#tree-graph {
    display: inline-block;
    margin-top: 30px;
}
.alert-center {
    display: inline-block;
    width: 100%;
    height: 230px;
    margin-top: 10px;
    position: relative;
}
.legend-new{
    width:100%;
    float:left;
}
.legend-new span{
          display: inline-block;
    margin: 10px 10px 0;
    font-size: 12px;
    position: relative;
}
.legend-new span:nth-child(1)::before{
    position:absolute;
    left:-10px;
    top:0;
    bottom:0;
    margin:auto;
    width:8px;
    height:8px;
    border-radius:10px;
    background-color: #989898;
    content:'';
}
.legend-new span:nth-child(2)::before{
    position:absolute;
    left:-10px;
    top:0;
    bottom:0;
    margin:auto;
    width:8px;
    height:8px;
    border-radius:10px;
    background-color: #00a9a2;
    content:'';
}
.legend-new span:nth-child(3)::before{
    position:absolute;
    left:-10px;
    top:0;
    bottom:0;
    margin:auto;
    width:8px;
    height:8px;
    border-radius:10px;
    background-color: #454545;
    content:'';
}
.group text{
    text-transform:capitalize;
}
.bg-gray {
    background: #eeeeee;
}
.white {
    background:#fff;
}
.mt-35 {
    margin-top:35px;
}
.mt-15 {
    margin-top:15px;
}
path.highcharts-point.highcharts-color-0:hover {
    cursor: move;
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-5 {
    margin-top:5px;
}
@media (max-width:1024px) {
    #legend {
        right:0;
        padding:0;
        top:130px;
    }
    .filter-top {
    position: absolute;
    left: 100px;
    bottom: 0;
    top:auto;
    text-align: center;
}
.filter-top button.btn.btn-default {
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 15px;
}
.highcharts-container {
    width:490px;
}
.highcharts-container svg {
    width:515px !important;
}
.custom-modal .btn.btn-default {
    font-size:10px;
}
#bubblechart1 .highcharts-container {
        height: 250px !important;
}
#bubblechart1 .highcharts-container svg {
    width:auto !important;
}
#bubblechart .highcharts-container {
        height: 250px !important;
}
#bubblechart .highcharts-container svg {
    width:auto !important;
}
#Chord_chart svg {
    width: 515px !important;
}
#Chord_chart svg g {
    transform: translate(275,325) !important;
}
.modal-dialog.custom-modal-size {
    width:auto;
}
}
.modal {
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    bottom:0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
tr.tb-bg {
    background: #e0e0e0;
}
#Chord_chart {
        min-height: 650px;
    padding: 0 13%;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    font-size: 16px;
    text-align: center;
}
.overlay p {
        color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 50px;
    font-size: 17px;
    text-transform: uppercase;
}
.fa-arrow-down {
    border-radius: 50%;
    border: 1px solid #00aca7;
    padding: 5px;
    font-size: 14px;
    background: #00aca7;
    color: #fff;
    margin-top:-100px;
}
.sun-txt1{
           position: absolute;
           z-index: 10;
           top: 224px;
           left: 357px;
           transform: rotate(22deg) scale(0.8);
}
.sun-txt2{
           position: absolute;
           z-index: 10;
           top: 290px;
           left: 168px;
           transform: rotate(-8deg) scale(0.8);
}
.sun-txt3{
           position: absolute;
           z-index: 10;
           top: 152px;
           left: 172px;
           transform: rotate(-6deg) scale(0.7);
}


#skillmap .skills-wrapper {
  margin-top: 10px;
  overflow: auto;
}
#skillmap .skills-sunburst {
  float: left;
  width: 500px;
  margin-left: -80px;
}
#skillmap .skills-sunburst svg {
  font: 11px 'Source Sans Pro', sans-serif;
  font-weight: 900;
  cursor: pointer;
}
#skillmap .skills-chart {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin: 80px 20px 0 0;
}
#skillmap .skills-chart .breadcumb-text {
  font-size: 13px;
  font-weight: 700;
}
#skillmap .skills-chart #skills-chart-line {
  fill: none;
  stroke-width: 3.5px;
}
#skillmap .skills-chart .axis path,
#skillmap .skills-chart .axis line {
  fill: none;
}
#skillmap .skills-chart .x-axis path,
#skillmap .skills-chart .y-axis path {
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}
.opu_level_two p {text-align: left;}
.data-popover {
    background: #586474;
    color: #fff;
    min-width: 200px;
    padding: 10px;
    width: 225px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    margin-top: -115px;
    margin-left: -120px;
    z-index:99;
    display: none;
}
.data-popover span {
    float: right;
    font-size: 12px;
}
.data-popover span.high{background:#b25c9e;width:10px;height:10px;margin-right:10px;float: left;margin-top:5px; }
.data-popover span.medium{background:#76d0cf;width:10px;height:10px;margin-right:10px;float: left;margin-top:5px;}
.data-popover span.low{background:#dcc9ae;width:10px;height:10px;margin-right:10px;float: left;margin-top:5px;}
.data-popover:after {
    position: absolute;
    content: "";
    border: 8px solid transparent;
    border-top: 8px solid #586474;
    bottom: -15px;
    left: 45%;
}
.dot-orange:hover .data-popover {display:block;}
.table-list-data {background:#586474;padding:15px;color:#fff;margin-top:5%;}
.table-list-data li {margin-bottom: 15px;}
.main .alert {border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.main .shadow {border-top-left-radius: 0;border-top-right-radius: 0;}
.filter-top {position: relative;}
.filter-top button.btn.btn-default {display:inline-block;}
.mt-50 {margin-top:50px;}
.s-dulang-m{text-align:left!important;text-transform: uppercase;margin-top: 25px;}
@media (max-width:1280px) {
    .main .total-count .middle {width:80%;}
    .main .total-count .middle span {right:-60px;}
    .opu_level_two.map {max-width: 350px;margin-top: 50px;}
    .m-text-left {text-align:left !important;}
    .opu_level_two .coordinates .pos_8 {left: 225px;top: 45%;}
    .opu_level_two .coordinates .pos_6 {left: 230px;}
    .modal-table {width:300px;}
    #main {width:460px;text-align: center;}
    .sun-txt3 {top: 145px;left: 160px;transform: rotate(-4deg) scale(0.7);}
    .sun-txt1 {left: 335px;transform: rotate(18deg) scale(0.8);}
    .sun-txt2 {left: 145px;}
    .site_level_one.map img {display:block;padding-top: 210px;border:1px solid #eee;}
    .site_level_one.map {height: 400px;max-width: 800px;background-position: 50% 0%;background-image: none;border: none;}
    #explanation {top: 125px;left: 160px;}
    .s-dulang-m{margin-top: 15px;}
}
@media (max-width:1024px) {
    #main {width:370px;}
    .sun-txt3 {top: 160px;left: 115px;transform: rotate(-6deg) scale(0.7);}
    .sun-txt1 {left: 292px;transform: rotate(18deg) scale(0.8);}
    .sun-txt2 {left: 100px;top:290px;}
    .site_level_one.map img {display:block;padding-top: 310px;border:1px solid #eee;}
    .main .total-count .middle .highcharts-container {top: -8px;left: -120px;}
    .main .total-count .top .fa {top: 40px;}
    .legend-new span {margin-top:3px;}
    .flow-diagram {max-height:inherit;min-height:680px;}
    #Chord_chart {min-height: 555px;}
    #explanation {top: 125px;left: 120px;}
    .legend-twochart li {min-width: 80px;}
    .legend-twochart li span {margin-left:25px;}
    .filter-top {left:0;}
}