body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: #eee;
}

header {
    float: left;
    width: 100%;
    background: #fff;
}

header .logo {
    float: left;
    width: auto;
    padding: 0px;
    margin: 0px;
    position: relative;
}

header .logo:before {
    position: absolute;
    content: '';
    right: 0px;
    height: 28px;
    width: 1px;
    background: #000;
    top: 10px;
}

header .logo figure {
    padding: 10px 0px;
}

header .title {
    float: left;
    width: auto;
    padding: 0px;
    margin: 0px;
}

header .title h2 {
    float: left;
    margin: 0px;
    padding: 12px;
    font-size: 22px;
    text-transform: uppercase;
}

header .calander {
    float: left;
    padding: 11px 0px;
    margin: 0px 30px 0px 0px;
    font-size: 18px;
    font-weight: 600;
}

header .calander .fa {
    font-size: 20px;
    margin: 0px 10px 0px 0px;
}

header .user {
    float: right;
    width: 230px;
    margin: 0px 20px 0px 0px;
}

header .user figure {
    float: right;
}

header .user span {
    float: left;
    width: calc(100% - 42px);
    /*padding: 4px 10px 0px;*/
    padding: 15px 10px 0px;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: right;
}

header .user span.desc {
    font-weight: 100;
}

.main {
    float: left;
    width: 100%;
    padding: 3px 0px 160px 0px;
    position: relative;
    min-height: calc(100vh - 48px);
}

.btn-default {
    border: 1px solid #00aca7;
    background: #eee;
    font-weight: 400;
    color: #2d2d2d;
    padding: 2px 15px 2px;
    font-size: 13px;
    border-radius: 3px;
    margin: 0px 3px;
    text-transform: uppercase;
}

.btn-default.fill, .btn-default.active, .btn-group .btn-default:focus, .btn-group .btn-default.active:focus {
    color: #fff;
    background: #00aca7;
}
.btn-group {
    border: 1px solid #00aca7;
    border-radius: 3px;
}
.btn-group .btn-default {
    border: 0px;
    margin: 0px;
    box-shadow: none;
}
.btn-group .btn-default:nth-child(2) {
    border-left: 1px solid #00aca7;
    border-right: 1px solid #00aca7;
}
.btn-group .btn-default + .btn-default {
    margin-left: 0px;
}

.main h4 {
    float: left;
    width: 100%;
}
.main .main-title {
    text-transform: uppercase;
}

.main .map {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.main .legend span {
    margin: 0px 10px;
    padding: 0px 0px 0px 30px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
}

.main .legend span.high {
    background: url(../img/high-correlation.png) no-repeat left center;
    margin: 0px 10px;
}

.main .legend span.medium {
    background: url(../img/medium-correlation.png) no-repeat left center;
    margin: 0px 10px;
}

.main .legend span.low {
    background: url(../img/low-correlation.png) no-repeat left center;
    margin: 0px 10px;
}

.main .info-right h4 {
    float: left;
    width: 100%;
    margin: 5px 0px 10px 0px;
    text-transform: uppercase;
}

.main .table-responsive {
    float: left;
    width: 100%;
    margin: 10px 0px 0px 0px;
    background: #fff;
    border-radius: 5px;
}

.main .shadow {
    float: left;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.main .table {
    border: 10px solid #fff;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
}

.main .table th,
.main .table td {
    border-top: 10px solid #fff;
}

.main .table th {
    background: #eaecef;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    background: #eaecef;
}

.main .table tr td {
    text-align: center;
    padding:2px 5px;
    vertical-align: middle;
    font-size: 12px;
}

.main .table tr td span {
    cursor: pointer;
    border: 1px solid #93676a;
    color: #fff;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    display: inline-block;
}

.main .table tr td a {
    border: 1px solid #93676a;
    /*color: #2f2d2d;*/
    color: #fff;
    border-radius: 5px;
    padding: 5px 0px 2px 0px;
    width: 26px;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    text-decoration: none;
    cursor: pointer;
}

.main .table tr th:first-child {
    border-radius: 23px 0px 0px 23px;
}

.main .table tr th:last-child {
    border-radius: 0px 5px 5px 0px;
}

.main .table tr td:first-child {
    border-radius: 23px 0px 0px 23px;
    text-align: left;
}

.main .table tr td:last-child {
    border-radius: 0px 23px 23px 0px;
}

.main .table tr:nth-child(1) td {
    background: #f00;
}

.main .table tr:nth-child(2) td {
    background: #ff7300;
}

.main .table tr:nth-child(3) td {
    background: #b8b7b7;
}
.main .table tr:nth-child(3) td span, .main .table tr:nth-child(3) td a {
    color: #222;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-top: 20px;
}

.mb-30 {
    margin-top: 30px;
}

.mb-40 {
    margin-top: 40px;
}
.mt-0 {
    margin-top: 0px;
}
.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.main .alert {
    float: left;
    width: 100%;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    background: #fff;
}

.main .alert ul {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.main .alert li {
    float: left;
    width: 100%;
    padding: 10px 20px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
    background: #fcfcfc;
    border-radius: 3px;
    border-top: 1px solid #fbfafa;
    border-bottom: 1px solid #fbfafa;
}

.main .alert li span {
    float: left;
    width: 60px;
    font-size: 20px;
}

.main .alert li span.red {
    color: #ff0000;
}

.main .alert li span.light-blue {
    color: #4da1db;
}

.main .alert li span.light-green {
    color: #68cfd1;
}

.main .alert {
    float: left;
    width: 100%;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}

.main .graph {
    margin: 10px 0px 0px 0px;
    padding: 30px;
    background: #fff;
}
.main .total-count {
    float: left;
    width: 100%;
    border-top: 1px solid #dddedf;
}

.main .total-count ul {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.main .total-count ul li {
    float: left;
    width: 33.33%;
    list-style-type: none;
    padding: 20px 30px 10px;
    color: #2b2f2f;
}

.main .total-count li+li {
    border-left: 1px solid #dddedf;
}

.main .total-count ul li p {
    float: left;
    width: 100%;
    margin: 0px;
    position: relative;
}

.main .total-count .top .name {
    float: left;
    font-size: 13px;
    font-weight: 300;
    line-height: 28px;
    margin: 0px 10px 0px 0px;
}

.main .total-count .top .value {
    float: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.main .total-count .top .fa {
    float: right;
    font-size: 20px;
    border: 1px solid #b2b4b5;
    border-radius: 50%;
    padding: 2px 5px;
    cursor: pointer;
    color: #b2b4b5;
    position: absolute;
    right: -15px;
    top: 30px;
}

.main .total-count .middle {
    float: left;
    width: 90%;
    font-size: 15px;
    font-weight: 900;
    margin: 5px 0px 0px 0px;
}

.main .total-count .middle span {
    float: left;
    width: 40px;
}

.main .total-count .middle .progress {
    float: left;
    width: calc(100% - 80px);
    margin: 3px 0px 0px 0px;
    height: 12px;
    border-radius: 0px;
    background: #4da1db;
    box-shadow: none;
}

.main .total-count .middle .progress-bar {
    background: #68cfd1;
    box-shadow: none;
}

.main .total-count .btm {
    width: 90%;
    margin: 5px 0px 0px 0px;
    font-size: 15px;
    font-weight: 400;
}

.main .rolling-text {
    float: left;
    width: 100%;
    padding: 10px 20px;
    margin: 0px;
    background: #fff;
}

.main .rolling-text strong {
    font-size: 20px;
    color: #2b2f2f;
    text-transform: uppercase;
    margin: 0px 10px 0px 20px;
}

.main .rolling-text span {
    font-size: 13px;
    font-weight: 400;
    margin: 0px 20px 0px 10px;
}

.btm-section {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.case-report-chart.modal-content {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: #eee
}

.case-report-chart .modal-header {
    padding: 15px 15px 0;
    border: none;
}

.case-report-chart .modal-header h4 {
    font-size: 13px;
    color: #282828;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.case-report-chart .modal-body img {
    width: 100%
}
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.custom-modal {
    max-width: 1080px;
    width: 100%;
}
.custom-modal .close {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1100;
}
.custom-modal .modal-body {
    padding: 25px 20px;
}
.custom-modal h4 {
    float: left;
    width: 100%;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #282828;
    text-transform: uppercase;
}
.custom-modal .bb {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.custom-modal .btn {
    font-size: 13px;
}
.custom-modal .toggle .btn {
    opacity: 0.3;
    box-shadow: none;
}
.custom-modal .toggle .btn.active {
    opacity: 1;
}
.custom-modal .btn.high {
    background: #ff0000;
    color: #fff;
    border-color: #ff0000;
}
.custom-modal .btn.mid {
    background: #ff7300;
    color: #fff;
    border-color: #ff7300;
}
.custom-modal .btn.low {
    background: #c8c7c7;
    color: #222;
    border-color: #c8c7c7;
}
.custom-modal .btn.btn-default {
    padding: 2px 12px 2px;
}
.report-accod {
    margin-top: 10px;
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #6bdbd0;
    border-radius: 5px;
    height: 508px;
    overflow-y: auto;
}
.report-accod .table {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #fff;
    border: 10px solid #fff;
    border-radius: 5px;
    border-collapse: unset;
    font-size: 13px;
    font-weight: 400; 
}
.report-accod .table th {
    padding: 5px 5px;
    font-weight: 500;
    background: #dff9f8;
    border-bottom: 10px solid #fefefe;
}
.report-accod .table tr th:first-child {
    border-top-left-radius: 5px;
}
.report-accod .table tr th:last-child {
    border-top-right-radius: 5px;
}
.report-accod .table td {
    font-size: 12px;
    border-top: 0px;
    border-bottom: 1px solid #ddd;
    padding: 3px 5px;
    vertical-align: middle;
}
.report-accod .table td:last-child {
    text-align: center;
}
.report-accod .table td .fa {
    background: #90e8e7;
    border-radius: 50%;
    padding: 4px 6px;
    cursor: pointer;
}
.report-accod .table tr.description {
    display: none;
}
.report-accod .table tr.description td {
    text-align: left;
    padding-top: 20px;
}

/* incident table */
.incident {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.incident .table {
    border: 10px solid #fff;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
}

.incident .table th,
.incident .table td {
    border-top: 10px solid #fff;
}

.incident .table th {
    background: #eaecef;
    text-transform: uppercase;
    font-weight: 300;
}
.incident .table th:last-child, .incident .table td:last-child {
    text-align: center;
}
.incident .table td:first-child {
    font-weight: 500;
}
.incident .table td {
    font-weight: 300;
    padding: 4px 10px;
    vertical-align: middle;
    background: transparent;
}

.incident .table td span {
    cursor: pointer;
}

.incident .table td a {
    border: 1px solid #93676a;
    color: #2f2d2d;
    border-radius: 5px;
    padding: 5px 0px 2px 0px;
    width: 26px;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    text-decoration: none;
}

.incident .table th:first-child {
    border-radius: 23px 0px 0px 23px;
}

.incident .table th:last-child {
    border-radius: 0px 23px 23px 0px;
}

.incident .table td:first-child {
    border-radius: 23px 0px 0px 23px;
    text-align: left;
}

.incident .table td:last-child {
    border-radius: 0px 23px 23px 0px;
}

.incident .table tr:nth-child(odd) {
    background: #f4f6f7;
}

.incident .table tr:nth-child(even) {
    background: #fcfdfd;
}

.incident .popover {
    max-width: 410px;
}
.incident .popover-content {
    padding: 0px;
}
.popover-content .table {
    border: 5px solid #fff;
}
.popover-content th {
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    color: #282828;
    padding: 4px 10px;
    background: #fafafb;
    border: 0px;
}
.popover-content tr td {
    color: #828282;
    border: 0px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.popover-content .table td:first-child {
    font-weight: 600;
}

.popover-content .table tr th:first-child,
.popover-content .table tr th:last-child,
.popover-content .table tr td:last-child,
.popover-content .table tr td:first-child {
    border-radius: 0px;
}

.flow-diagram {
    display: inline-block;
    width: 100%;
    border: 1px solid #6bdbd0;
    padding: 30px 10px;
    margin-top: 16px;
    min-height: 260px;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    max-width: 520px;
}
.flow-diagram span {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.flow-diagram .top, .flow-diagram .btm {
    float: left;
    width: 100%;
}
.flow-diagram .top {
    margin: 0px 0px 70px 0px;
}
.flow-diagram .btm {
    margin: 70px 0px 0px 0px;
}
.flow-diagram .top-cont, .flow-diagram .btm-cont {
    float: left;
    width: 50%;
}
.flow-diagram .top-ll, 
.flow-diagram .top-rr, 
.flow-diagram .btm-ll, 
.flow-diagram .btm-rr {
    padding: 6px 5px;
    background: #398b8a;
    color: #fff;
    border-radius: 10px;
    width: 90px;
    text-align: center;
}
.flow-diagram .top-lr, 
.flow-diagram .top-rl, 
.flow-diagram .btm-lr, 
.flow-diagram .btm-rl {
    padding: 6px 5px;
    background: #25d4d1;
    color: #222;
    border-radius: 10px;
    width: 90px;
    text-align: center;
    z-index: 1;
}
.flow-diagram .top-lr, .flow-diagram .btm-lr {
    margin: 0px 0px 0px 120px;
}
.flow-diagram .top-rl, .flow-diagram .btm-rl {
    margin: 0px 120px 0px 0px;
}
.flow-diagram .center {
    position: absolute;
    background: #25d4d1;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
}
.flow-diagram .top-ll:before, .flow-diagram .top-ll:after, 
.flow-diagram .top-rr:before, .flow-diagram .top-rr:after, 
.flow-diagram .btm-ll:before, .flow-diagram .btm-ll:after, 
.flow-diagram .btm-rr:before, .flow-diagram .btm-rr:after,
.flow-diagram .top-lr:before, .flow-diagram .top-lr:after,
.flow-diagram .top-rl:before, .flow-diagram .top-rl:after,
.flow-diagram .btm-lr:before, .flow-diagram .btm-lr:after,
.flow-diagram .btm-rl:before, .flow-diagram .btm-rl:after {
    content: '';
    position: absolute;
}
.flow-diagram .top-ll:before, .flow-diagram .top-rr:before,
.flow-diagram .btm-ll:before, .flow-diagram .btm-rr:before,
.flow-diagram .top-lr:before, .flow-diagram .top-rl:before,
.flow-diagram .btm-lr:before, .flow-diagram .btm-rl:before {
    border: 4px solid #ff6565;
    border-radius: 50%;
    z-index: 1;
}
.flow-diagram .top-ll:before, .flow-diagram .btm-ll:before {
    top: 12px;
    right: -7px;
}
.flow-diagram .top-rr:before, .flow-diagram .btm-rr:before {
    top: 12px;
    left: -7px;
}
.flow-diagram .top-lr:before {
    bottom: -2px;
    right: -2px;
}
.flow-diagram .top-rl:before {
    bottom: -2px;
    left: -2px;
}
.flow-diagram .btm-lr:before {
    top: -2px;
    right: -2px;
}
.flow-diagram .btm-rl:before  {
    top: -2px;
    left: -2px;
}
.flow-diagram .top-ll:after, .flow-diagram .btm-ll:after {
    width: 40px;
    height: 0px;
    border-top: 1px dashed #000;
    right: -45px;
    top: 50%;
    z-index: 0;
} 
.flow-diagram .top-rr:after, .flow-diagram .btm-rr:after {
    width: 40px;
    height: 0px;
    border-top: 1px dashed #000;
    left: -45px;
    top: 50%;
    z-index: 0;
}
.flow-diagram .top-lr:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    right: -33px;
    bottom: -20px;
    z-index: 0;
    -webkit-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
}
.flow-diagram .top-rl:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    left: -33px;
    bottom: -20px;
    z-index: 0;
    -webkit-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
}
.flow-diagram .btm-lr:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    right: -33px;
    top: -20px;
    z-index: 0;
    -webkit-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
}
.flow-diagram .btm-rl:after {
    width: 50px;
    height: 0px;
    border-top: 1px dashed #000;
    left: -33px;
    top: -20px;
    z-index: 0;
    -webkit-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
}
.flow-diagram .top-cont, .flow-diagram .btm-cont {
    cursor: pointer;
}
.flow-diagram .active {
    border: 1px solid #fff;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}
.opacity-3 {
    opacity: 0.3;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: pointer;
}
@media screen and (max-width: 1400px) and (min-width: 1201px) {
}

@media screen and (max-height: 770px) {
    header .title h2 {
        font-size: 16px;
        line-height: 24px;
    }
    header .calander {
        font-size: 15px;
    }
    h4 {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .main .alert li span {
        font-size: 16px;
    }
    .main .alert li {
        padding: 0px 20px;
        font-size: 12px;
    }
    .main .alert {
        padding: 8px 20px;
    }
    .main .rolling-text {
        padding: 0px 20px;
    }
    .main .rolling-text strong {
        font-size: 17px;
    }
    .main .graph {
        padding: 10px 30px;
        height: 180px;
    }
    .main .graph img {
        height: 150px;
    }

    .main .total-count .top .value {
        font-size: 17px;
    }
    .main .total-count .top .fa {
        font-size: 15px;
    }
    .main .total-count ul li {
        padding: 10px 30px 10px 20px;
    }
}
@media screen and (max-height: 650px) {
    header .title h2 {
        font-size: 16px;
        line-height: 24px;
    }
    header .calander {
        font-size: 15px;
    }
    h4 {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .main .alert li span {
        font-size: 16px;
    }
    .main .alert li {
        padding: 0px 20px;
        font-size: 12px;
    }
    .main .alert {
        padding: 8px 20px;
    }
    .main .rolling-text {
        padding: 0px 20px;
    }
    .main .rolling-text strong {
        font-size: 17px;
    }
    .main .graph {
        padding: 10px 30px;
        height: 180px;
        margin: 0px;
    }
   

    .main .total-count .top .value {
        font-size: 17px;
    }
    .main .total-count .top .fa {
        font-size: 15px;
    }
    .main .total-count ul li {
        padding: 10px 30px 10px 20px;
    }
    .main .table {
        font-size: 11px;
        margin: 0px;
    }
    .main h4 {
        font-size: 14px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 991px) {
    .flow-diagram .top-rl, .flow-diagram .btm-rl {
        margin: 0px 10px 0px 0px;
    }
    .flow-diagram .top-lr, .flow-diagram .btm-lr {
        margin: 0px 0px 0px 10px;
    }

    .main .alert li {
        padding: 0px 5px;
        font-size: 12px;
    }
    .main .alert {
        padding: 8px 8px;
    }
    .main .alert li span {
        width: auto;
        margin: 0px 3px 0px 0px;
    }
    
}


.switch {
  position: absolute;
    top: 0;
    right: 0;
  margin: 7px auto 0;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  float:  left;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 10px;
  color: #000;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
  Note: using adjacent or general sibling selectors 
  combined with pseudo classes doesn't work in Safari 
  5.0 and Chrome 12.
  See this article for more info and a potential fix: 
  https://css-tricks.com/webkit-sibling-bug/
*/

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}

.high-bg{
  position: absolute;
    width: 23px;
    height: 19px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../img/high-correlation.png);
    font-size: 10px;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
}
.high-bg.pos1{
    top: 30px;
    right: 125px;
}

.high-bg.pos2{
  top: 205px;
  left: 250px;
}

.high-bg.pos3{
     top: 101px;
     left: 239px;
}

.medium-bg{
  position: absolute;
    width: 23px;
    height: 22px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../img/medium-correlation.png);
    font-size: 10px;
    line-height: 23px;
    color: #fff;
    cursor: pointer;
}
.medium-bg.pos1{
    top: 106px;
    right: 140px;
}
.medium-bg.pos2{
    top: 196px;
    left: 307px;
}

.medium-bg.pos3{
     top: 245px;
     left: 265px;
}

.low-bg{
  position: absolute;
    width: 23px;
    height: 22px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../img/low-correlation.png);
    font-size: 10px;
    line-height: 23px;
    color: #fff;
    cursor: pointer;
}
.low-bg.pos1{
    top: 210px;
    right: 110px;
}
.low-bg.pos2{
    top: 245px;
    left: 295px;
}
.low-bg.pos3{
          top: 175px;
          left: 175px;
}
.breadcrumb{
    margin:0 0 10px;
    font-size: 11px;
    text-transform: uppercase;
}
.breadcrumb a {
    cursor: pointer;
}
span.high-bg.pos4 {
    top: 41px;
}

span.medium-bg.pos4 {
    top: 191px;
    left: 400px;
}

span.low-bg.pos4 {
    top: 40px;
    left: 57px;
}

span.high-bg.pos5 {
    top: 99px;
    left: 100px;
}

span.medium-bg.pos5 {
    left: 201px;
    bottom: 112px;
}

span.low-bg.pos5 {
    top: 65px;
}

span.high-bg.pos6 {
    top: 68px;
    left: 64px;
}

span.medium-bg.pos6 {
    bottom: 159px;
    left: 380px;
}

span.low-bg.pos6 {
    top: 177px;
    left: 331px;
}
.btn.btn-default.map-btn{
    background-color: #4da1db;
    color: #fff;
    border:none!important;
}
span.high-bg.pos7.ng-binding {
    top: 30px;
    left: 265px;
}

span.medium-bg.pos7.ng-binding {
    top: 94px;
    left: 220px;
}

span.low-bg.pos7.ng-binding {
    top: 140px;
    left: 282px;
}
button:focus,
button:active{
    outline: none;
}
.breadcrumb>li{
    cursor: pointer;
}